<ion-view view-title="Lời giới thiệu">
  <ion-content class="padding">
	<h3>DAS Diet</h3>
	<img src="img/das.jpg" alt="DAS diet">
	<p><b>DAS Diet ( Dr.Anh's Secret Diet)</b> là chế độ ăn kiêng dựa trên nguyên lí <b>Low
Carb</b> do <b>Dr.Anh</b> ( Nguyễn Hoàng Anh aka <b>ha_misi</b> ) phát triển và phổ biến ở Việt Nam.
Khác với Atkins Diet, DAS Diet đã được "Việt Nam hóa" và biến đổi đi rất nhiều. Nội dung
chính của DAS Diet gồm có :</p>
	<p>Chế độ ăn kiêng Low Carb để giảm mỡ. Đặc biệt không áp dụng nguyên tắc tính toán 20g
Carb của Atkins Diet mà thay vào đó là <b>nguyên tắc "đèn giao thông"</b>, tạo thoải mái cho
mọi người trong khi ăn kiêng. Kết hợp cùng với ngày relax theo lịch nhất định sẽ giảm bớt
stress, tạo hưng phấn hơn cho mọi người.</p>

	<p>Phương pháp duy trì cân nặng dựa trên việc xen kẽ ngày High Carb, Low Carb, cùng với
phương pháp "trạng thái giới hạn của tỉ lệ mỡ" trong cơ thể. Giúp mọi người bảo vệ thành
quả của mình sau khi đã ăn kiêng giảm mỡ thành công mà không cần phải nhịn đói, hay tập
thể dục thường xuyên.</p>

	<p>Mục đích chính của DAS Diet không phải là việc giảm mỡ, giảm béo trong thời gian ngắn
hạn. Mà là hướng tới <b>thay đổi tư duy về dinh dưỡng</b>, giúp mọi người nhận thức được căn
nguyên gây ra béo phì. Từ đó người tham gia sẽ có đầy đủ kĩ năng, kiến thức để duy trì sức
khỏe, và trạng thái cơ thể trong suốt cả cuộc đời.</p>

	<p>Ngoài chức năng như một chế độ ăn kiêng. DAS Diet còn hướng tới những người bị tiểu
đường, cao huyết áp, gout v...v (những bệnh đi kèm với béo phì ) như một cứu cánh hoàn
hảo và tiện dụng. Bệnh nhân mắc phải những chứng bệnh trên, chỉ cần tuân thủ theo DAS
Diet tự khắc bệnh tật sẽ biến mất mà không cần tốn tiền uống thuốc hay bất cứ phương pháp
trị liệu nào. "</p>

	
	<a class="button button-balanced button-outline button-block icon-right ion-chevron-right" href="#/app/chaplists">Đọc ngay</a>
  </ion-content>
</ion-view>
