<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Thông tin</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Đóng </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ul class="list">
      <li>Ứng dụng: DAS diet</li>
      <li>Tác giả: Thanh Tran</li>
      <li>Phiên bản: 0.0.6</li>
      <li>Email:  thanhrossi.tt@gmail.com</li>
      <li>Facebook: <a href="http://fb.me/thanhrossi">fb.me/thanhrossi</a></li>
      <li>Nguồn: <a href="http://www.facebook.com/dasdiet" target="_blank">Dasdiet</a></a></li>
    </ul>
  </ion-content>
</ion-modal-view>
