<ion-view view-title="Chương 8">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>8- Hướng dẫn sử dụng đậu phụ và các chế phẩm của đậu nành trong quá trình DAS.</h3>
        <p>( The DAS Guide to Tofu)</p>
        <img src="../img/dauphu.jpg" alt="tofu" />
        <h4>A. Tổng quan về đậu phụ.</h4>
        <p>Đậu phụ là món ăn dân dã truyền thống, ngon miệng của người Việt Nam. Đậu phụ có vị
        thanh, mát , dịu ngọt, ăn mùa nào cũng hợp. Từ đậu phụ chúng ta có thể chế biến ra rất
        nhiều món ăn ngon khác nhau để đa dạng hóa bữa ăn hàng ngày.</p>
        <p>Trước đây do muốn an toàn tuyệt đối, giúp DASer đạt hiệu quả cao nhất. Nên với phương
        châm "thà giết lầm còn hơn bỏ sót", DAS đã xếp đậu phụ và các chế phẩm của đậu nành
        như sữa đậu nành, tào phớ v…v vào hạng đèn đỏ. Nhưng theo thời gian thấy có nhiều 
        DASer phản hồi rất tốt về việc sử dụng đậu phụ trong quá trình ăn kiêng theo DAS mà kết
        quả giảm béo, vẫn diễn ra bình thường.</p>
        <p>Vì lí do đó mà lúc này DAS thấy việc xem xét lại "bản án" dành cho đậu phụ là cần thiết và
        đáng cân nhắc. Do đó tài liệu hướng dẫn này ra đời để cung cấp kiến thức cho các DASer về
        đậu phụ cũng như cách sử dụng nó trong quá trình DAS. Hiện nay DAS có 3 chế độ : DAS,
        eDAS và Duy trì. Nên mỗi chế độ sẽ có cách sử dụng khác nhau. Các DASer cần đọc kĩ và
        tùy theo chế độ mình đang theo để có chiến thuật sử dụng hợp lý, sao cho vẫn được ăn ngon
        mà quá trình ăn kiêng không bị ảnh hưởng.</p>
        <b>Phân tích về đậu phụ :</b>
        <p>Do đây là tài liệu về DAS, cho nên sẽ không đi quá sâu, quá lan man vào thành phần cấu
        tạo hay cấu trúc, cách làm, nguồn gốc của đậu phụ mà chỉ xem xét nó trên hàm lượng Carb
        ra sao, mức độ tác động tới đường huyết như thế nào mà thôi.</p>
        <p>Đậu phụ là sản phẩm kết tủa của nước cốt được chiết xuất ra từ hạt đậu tương. Bản thân
        hạt đậu tương là loại hạt có hàm lượng Carb khá thấp so với các loại tinh bột ngũ cốc. Hạt
        đậu nành có khoảng 21 gr Carb/100gr sản phẩm, và chỉ số Glycemix Load /100gr sản phẩm
        của đậu nành chỉ là 10 ( so với 59 của gạo trắng ).</p>
        <p> Và khi đã vắt nước cốt của đậu nành thì phần bã đậu chứa nhiều Carb nhất bị loại bỏ (
        thường làm thức ăn nuôi gia súc). Nên cả hàm lượng Carb lẫn chỉ số Glycemic Load của đậu
        phụ đều rất thấp. Cụ thể tính theo 100gr thì có khoảng 2gr Carb và Glycemic Load là 2.
        Với hàm lượng Carb và chỉ số Glycemic Load như thế này thì khi theo DAS chúng ta hoàn
        có thể ăn khoảng 500gr hoặc hơn mà không lo ảnh hưởng tới quá trình ăn kiêng. Dĩ nhiên
        trừ 1 số trường hợp cá biệt với những người quá nhạy Carb thì sẽ có ảnh hưởng, nhưng nếu
        xét về mặt bằng chung thì với lượng ăn khoảng 500gr là hoàn toàn khả thi.
        Như vây việc phân tích tính chất của đậu phụ đã xong giờ đây chúng ta sẽ tiếp tục xem xét
        cách sử dụng đối với từng chế độ của DAS.</p>
        <h4>B. Cách sử dụng trong chế độ DAS.</h4>
        <p>Do DAS hoạt động trên nguyên lí ketosis. Bởi vậy DASer khi theo DAS nên dùng que thử
        để kiểm tra quá trình ketosis của mình khi ăn đậu phụ. Để chắc chắn mình không phải là
        dạng quá nhạy Carb và bị đậu phụ ảnh hưởng, hoặc cũng có thể giảm bớt lượng đậu phụ
        xuống để không bị đẩy ra khỏi ketosis.</p>
        <p>Do cần đảm bảo quá trình ketosis diễn ra ổn định, nên đậu phụ sẽ bắt đầu được thêm vào
        sau khoảng 4-5 ngày theo DAS. Tức chúng ta ăn 4-5 ngày đầu tiên triệt để, sau đó nếu thấy
        cơ thể ổn định, ketosis diễn ra bình thường thì từ ngày thứ 5, hoặc 6 trở đi chúng ta thêm
        khoảng 200gr đậu phụ mỗi ngày vào bữa ăn hàng ngày cho tới khoảng mức 500gr/ngày thì
        dừng ( cũng có thể 600gr nếu ai đang có kết quả giảm tốt ). Kết hợp theo đó là hàng ngày
        kiểm tra que thử ketosis để chắc chắn mình không bị đẩy ra khỏi ketosis.</p>
        <p class="poem">
            Ví dụ: Từ ngày thứ 1-> ngày thứ 3 chúng ta tuân thủ triệt để LC, vào ngày thứ 4 sẽ ăn thêm
        200gr đậu phụ và vào sáng hôm sau khi ngủ dậy kiểm tra thấy không bị đẩy ra khỏi ketosis. 
        Thì vào ngày thứ 5 lại ăn thêm 200gr nữa. Và vào ngày thứ 6 lại tiếp tục kiểm tra nếu ổn thì
        tiếp tục tăng thêm, nếu không ổn thì có thễ bớt đi 100 gr vào ngày hôm sau.
        </p>
        <b>****Chú ý vể vấn đề thử que ketone****</b>
        <p>Việc thừ que chỉ mang tính chất tương đối, định hướng, chứ không quyết định chính xác
        chúng ta có bị đẩy ra khỏi ketosis hay không. Bởi độ đậm nhạt của que thử thường bị ảnh
        hưởng bởi những yếu tố sau:</p>
        <p> - Lượng nước chúng ta uống hàng ngày: Uống nhiều nước sẽ làm cho lượng ketone trong
        nước tiểu bị loãng --> màu que thử bị nhạt hơn bình thường. Nhưng không có nghĩa là
        chúng ta bị đẩy ra khỏi ketone.</p>
        <p>- Khí hậu ẩm: Trời nóng, ẩm, nồm là khí hậu đặc trưng của Việt Nam, làm hỏng thành phần
        hóa học của que thử --> do đó nhiều khi que thử bị âm.</p>
        <p>Ví lí do trên mà chúng ta không nên quá lo lắng khi que thử bị nhạt. Lúc đó cần xem xét các
        biểu hiện khác của cơ thể như: mỡ bụng có mềm đi không ? vòng bụng có giảm không ? có
        cảm giác thèm ăn, choáng váng, hạ đường huyết hay không ? Nếu mỡ bụng vẫn giảm hoặc
        mềm hơn, và không có cảm giác thèm ăn, choáng váng do bị tụt đường huyết thì chứng tỏ
        chúng ta vẫn đang ở ketosis.</p>
        <h4>C. Cách sử dụng trong chế độ eDAS.</h4>
        <p>Đối với eDAS thì sẽ chỉ được ăn đậu phụ khi kết thúc giai đoạn 1 và 2 bắt đầu vào giai đoạn
        3. Chúng ta phải làm như thế để đảm bảo chắc chắn cơ thể vào trạng thái Fat Metabolism
        mà không bị ảnh hưởng. Chỉ khi cutting xong xuôi, bắt đầu vào giai đoạn 3 lúc đó chúng ta
        cũng áp dụng giống như ở chế độ DAS bằng cách mỗi ngày thêm khoảng 200 gr cho tới 500
        gr thì dừng.</p>
        <p>Do eDAS là very low-calorie diet, cho nên điều tối quan trọng đó là không để việc ăn đậu
        phụ gây ra cảm giác thèm ăn. Chúng ta sẽ kiểm tra bằng cách so sánh với lượng ăn ở giai
        đoạn 2 để xem có dấu hiệu đường huyết bị ảnh hưởng hay không.</p>
        <p class="poem">Ví dụ: Sau khi cutting xong xuôi ở giai đoạn 2 với lượng ăn khoảng 300 gr thịt các loại và
        không thấy đói, thấy mệt, mọi thứ đều ổn. Bước sang giai đoạn 3 cũng với lượng ăn như thế
        ăn thêm đậu phụ mà cảm thấy bị choáng váng, mệt mỏi, tăng cảm giác đói. Thì phải giảm
        lượng ăn đậu phụ xuống để tránh đường huyết bị hạ.</p>
        <p> Tất nhiên đây là để đề phòng cho trường hợp xấu nhất thôi chứ thực sự đậu phụ cũng
        không gây nguy hiểm tới mức đó. Ngoài ra do đậu phụ là thực phẩm low calorie, nên khi
        cutting theo eDAS không cần phải lo lằng về calorie của đậu phụ.</p>
        <h4>D. Cách sử dụng trong chế độ duy trì.</h4>
        <p>Đối với những ai đang theo chế độ duy trì bằng cách xen kẽ giữa ngày High Carb và Low
        Carb thì không phải quá bận tâm nhiều mà có thể ăn luôn mỗi ngày khoảng 600 gr đậu phụ
        không sao cả.</p>
        <h4>E. Các chế phẩm khác từ đậu nành.</h4>
        <p> - Sữa đậu nành: Thực ra sữa đậu nành là thứ rất khó có thể xác định chính xác. Vì tùy thuộc
        vào cách pha chế, nấu, lượng nước thêm vào trong quá trình nấu tạo nên nồng độ của sữa
        đậu nành. Sữa càng nhạt thì sẽ càng an toàn hơn là sữa đậm đặc.</p>
        <p>Do đó để có 1 chỉ dẫn chính xác thì thật là 1 việc làm bất khả thi. Bởi vậy cách tốt nhất là
        chúng ta nên bắt đầu với khoảng 300ml sữa đậu nành hàng ngày và kết hợp kiểm tra theo
        từng chế độ, giống như là đối với đậu phụ đã được nhắc tới ở trên. Cần chú ý là khi uống
        sữa đậu nành thì có khả năng que thử sẽ nhạt hơn do sữa đậu nành có nhiều nước. Nên các
        DASer cần phải đọc kĩ chú ý vế que thử đã nêu ra trong phần B.</p>
        <p>- Tào phớ: Tào phớ về bản chất giống như đậu phụ. Nên cách sử dụng cũng tương tự như
        đậu phụ.</p>
        <p>Chúc các DASer thành công và có những món ăn thật ngon, bổ dưỡng với đậu phụ và các
        chế phẩm của đậu nành.</p>
        <p>
            <b>Tham khảo:</b>
            <ul class="das-list">
                <li>
                    <a href="http://nutritiondata.self.com/facts/legumes-and-legume-products/4412/2" target="_blank">- http://nutritiondata.self.com/facts/legumes-and-legume-products/4412/2</a>
                </li>
                <li>
                    <a href="http://nutritiondata.self.com/facts/cereal-grains-and-pasta/5721/2" target="_blank">- http://nutritiondata.self.com/facts/cereal-grains-and-pasta/5721/2</a>
                </li>
                <li>
                    <a href="http://nutritiondata.self.com/facts/legumes-and-legume-products/4375/2" target="_blank">- http://nutritiondata.self.com/facts/legumes-and-legume-products/4375/2</a>
                </li>
                <li>
                    <a href="http://www.lowcarb.ca/tips/tips011.html" target="_blank">- http://www.lowcarb.ca/tips/tips011.html</a>
                </li>
            </ul>
        </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong7"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong9"></a>
        </div>
    </ion-content>
</ion-view>
