<ion-view view-title="Chương 9">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>9-Các loại đuờng ăn kiêng</h3>
        <p>Đối với những người ăn kiêng theo chế độ Low Carb thì việc chọn lựa, phân loại, sử dụng
        đuờng ăn kiêng là một vấn đề khá khó khăn và nan giải. Vì từ truớc tới nay ở Việt Nam
        đuờng ăn kiêng vẫn còn là một lĩnh vực khá mới mẻ và ít nguời quan tâm. Bởi vậy bài viết
        này của mình sẽ giúp các bạn có một kiến thức tổng quát về các loại đuờng ăn kiêng và cách
        sử dụng chúng sao cho hợp lý và hiệu quả nhất.</p>
        <img src="img/splenda.jpg" alt="Splenda" />
        <div>
            <i>Splenda- có thành phần chủ yếu là Sucralose được coi là chất tạo ngọt nhân tạo lí
        tưởng nhất vì vị ngon ngọt gần như đường kính, đặc biệt lại phù hợp cho việc nấu nướng ở
        nhiệt độ cao.</i>
        </div>
        <h4>1. Tại sao lại cần đuờng ăn kiêng ?</h4>
        <p>Như chúng ta đã biết đường kính giờ đây ở phương Tây đã đuợc gọi dưới cái tên đầy "âu
        yếm" : Cái chết trắng – The white death. Gọi như thế là bởi vì, trong đuờng kính trắng có
        chứa tới 99% là Carbohydrate.</p>
        <p>Ko những thế Carb trong đuờng kính trắng là loại Carb có chỉ số GI rất cao, và tác động tới
        đuờng huyết cực kì mãnh liệt, và gây béo phì cực nhanh hơn các loại Carb trong tinh bột
        nhiều lần. Do đó, đuờng kính trắng (table sugar) là thù phạm hàng đầu gây ra béo phì, và các
        loại bệnh như cao huyết áp, tiểu đường, tim mạch, đột quỵ v…v</p>
        <p>Dĩ nhiên, đuờng kính trắng xuất hiện ở khắp mọi nơi như bánh kẹo, nước ngọt v…v. Và để
        giảm tác hại của đường kính trắng thì nguời ta đã nghĩ và tìm ra các loại đuờng ăn kiêng,
        chất tạo ngọt thay thế đuờng kính trắng mà vẫn bảo đảm an toàn cho sức khỏe. Và như thế
        đuờng ăn kiêng đã ra đời.</p>
        <h4>2. Phân loại đuờng ăn kiêng, chất tạo ngọt:</h4>
        <p>Hiện nay trên thị trường các sản phẩm đuờng ăn kiêng và các chất tạo ngọt nhân tạo đuợc
        phân ra làm 3 loại chính:</p>
        <img src="img/asta.jpg" alt="asta.jpg" />
        <div>
            <i>Đường Asparatame đuợc sử dụng rộng rãi trong việc điều trị tiểu đường và béo phì, ngoài
        ra nó còn được sử dụng trong các loại nước giải khát bánh kẹo, và đuợc FDA công nhận tính
        an toàn về mặt sức khỏe.</i>
        </div>
        <h5 class="boline">A.Chất tạo ngọt nhân tạo ( artificial sweetener ) .</h5>
        <p>Là các chất tạo ngọt nhân tạo ko có Carb, ko có năng lượng. Một số loại chất tạo ngọt nhân
        tạo tiêu biểu như sau: Aspartame, Acesulfame potassium, Saccharin, Sucralose, Cyclamate
        v..v.</p>
        <p>Trong các loại đuờng ăn kiêng trên thì có đuờng Aspartame và Sucralose là phổ biến nhất.
        Aspartame đuợc dùng rộng rãi trong các đồ uống có gaz. Aspartame khá phù hợp với việc
        để cho vào đồ uống, nhưng do Aspartame bị phân hủy ở nhiệt độ cao nên ko phù hợp với
        việc nấu nướng.</p>
        <p> Sucralose là chất tạo ngọt nhân tạo tuyệt vời nhất, bởi vì ngoài hương vị gần như đuờng
        kính trắng, nó lại còn có khả năng chịu nhiệt. ( tới 180 độ C ). Do đó, Sucralose là lựa chọn
        tốt nhất cho các tín đồ Low Carb để làm bánh, làm kem, và nấu nướng. Sucralose đuợc biết
        tới với nhãn hiệu Splenda phổ biến. Bởi thế, mọi nguời hay gọi nó là đường Splenda.</p>
        <h5 class="boline">B.Các loại đuờng ăn kiêng có nguồn gốc thiên nhiên (natural sweetener):</h5>
        <p>Fructose: Khác với đuờng kính thông thường chiết xuất từ mía, đuờng Fructose chiết xuất
        từ hoa quả, cho nên hương vị rất thơm ngon. Đường Fructose có đặc tính căn bản là tác
        động chậm tới đường huyết hơn so với đường kính. Nhưng hàm lượng Carb rất cao. Do đó,
        Fructose ko phù hợp để dùng cho Low Carb.</p>
        <p>Alcohol Sugar ( đuờng gốc rượu ) gồm có: Sorbitol, Isomalt, Xylitol, Maltitol v..v. Những loại
        đuờng này tác động tới đuờng huyết chậm, và hàm lượng Carb chỉ bằng một nửa so với
        đuờng ăn kiêng thông thường. Do đó, các loại đuờng này có thể sử dụng khi ăn kiêng Low
        Carb với một số lượng vừa phải – khoảng trên dưới 50 gr.</p>
        <p>Cỏ ngọt ( Stevia) : Tuy là đuờng chiết xuất từ cây cỏ ngọt, có nguồn gốc thiên nhiên. Nhưng
        đuờng cỏ ngọt lại có hàm lượng Carb cực kì thấp và gần như là ko có Carbohydrate. Hơn
        nữa do đường cỏ ngọt có độ ngọt gấp 300 lần đuờng kính thông thường. Do đó, đối với Low
        Carb, thì đuờng Stevia – cỏ ngọt có thể sử dụng thoải nghĩ.
        </p>
        <img src="img/congot.jpg" alt="congot.jpg" />
        <div>
            <i>Stevia (cỏ ngọt ) được coi là chất làm ngọt thiên nhiên thay thế cho đường kính tuyệt vời
        nhất.</i>
        </div>
        <h5 class="boline">C.Các loại đường ăn kiêng trộn lẫn giữa chất tạo ngọt nhân tạo và đường ăn kiêng có nguồn góc thiên nhiên.</h5>
        <p class="poem">
            Ví dụ như đường Equal: Thành phần chủ yếu từ đuờng Aspartame trộn lẫn với đường
        Lactose – chiết xuất từ sữa. Hay đuờng Hermesetas Granulated, có thành phần là
        FructoseFibre chiết xuất từ rễ củ diếp xoăn và Aspartame. Do đó, đường Hermesetas lí
        tưởng cho nấu nướng ở nhiệt độ cao.
        <a href="http://www.hermesetas.com/data/en/products/country/nutrition/australia.html" target="_blank">http://www.hermesetas.com/data/en/products/country/nutrition/australia.html</a>
        <div>Nói chung, những loại đường trên có thể sử dụng không quá 100gr/ngày.</div>
        </p>

        <img src="img/hermesetas.jpg" alt="Hermesetas" />
        <div>
            <i>Hermesetas – nhãn hiệu đường ăn kiêng nổi tiếng trên thế giới.</i>
        </div>
        <h4>3. Cách sử dụng:</h4>
        <p>Khi các bạn chọn mua đường ăn kiêng, thì việc đầu tiên cần làm đó là xem kĩ thành phần và
        xác định xem thành phần của nó là gì ? Từ đó, bạn sẽ phân loại nó vào một trong 3 loại trên
        và đề ra cách sử dụng sao cho hợp lý ( đã ghi ở trên ).</p>
        <p>Hoặc là bạn cũng có thể nhìn vào thành phần để xem số lượng Carb per 100g sản phẩm là
        bao nhiêu, để tính toán sao cho mỗi ngày dùng ko quá 20 g Carb từ các loại đường ăn kiêng
        kể trên.</p>
        <p>Ngoài ra có một số loại kẹo cao su, hay viên ngậm có dán nhãn sugar free, và thành phần
        đuợc làm từ các loại đuờng ăn kiêng như Xylitol, Sorbitol,Aspartame v…v. Nếu như các bạn
        xác định hàm lượng Carb thì tốt. Còn nếu không có thể tự ước lượng – ví dụ như kẹo cao su
        Xyltitol có thể dùng mỗi ngày khoảng chục viên. Từ đó, bạn cứ áp dụng tương tự cho các
        sản phẩm khác.</p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong8"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong10"></a>
        </div>
    </ion-content>
</ion-view>
