<ion-view view-title="Chương 5">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>5-Giảm mỡ và giảm cân</h3>
        <p>Bao bọc hệ khung xương của chúng ta gồm có 2 thành phần, đó là thịt nạc và mỡ. Do khối
        lượng riêng của thịt nạc nặng hơn thịt mỡ. <b>Cho nên cùng một khối lượng, mỡ luôn chiếm
        thể tích, phình to ra nhiều hơn so với thịt nạc.</b></p>
        <img src="img/movaco.jpg" alt="co va mo" />
        <div>
            <i>Cùng một khối lượng, mỡ luôn chiếm thể tích, phình to ra nhiều hơn so với thịt nạc.</i>
        </div>
        <p>Khi chúng ta <b>ăn kiêng theo chế độ truyền thống</b> trên nguyên tắc <b>low calories và high 
        carb</b>. Thì cơ thể sẽ đem cả thịt nạc và mỡ ra đốt theo tỉ lể <b>70-30</b>. Tức đốt phần thịt nạc là chủ
        yếu (70) còn <b>mỡ thì đốt rất ít</b> (30)—> Giảm cân, nhưng cơ thể lại bị bùng nhùng, ko săn
        chắc. Bởi vì <b>thịt nạc là phần rất quan trọng</b> tạo ra những đường cong, cho cơ thể, giúp cơ
        thể săn chắc khỏe mạnh. Còn mỡ thì chỉ có bùng nhùng, và chảy xệ. Tức chúng ta bị béo
        phì, số đo các vòng tăng là do mỡ chứ ko phải do thịt nạc. Cho nên ăn kiêng truyền thống
        người chỉ giảm cân, nhưng ko săn chắc, khỏe mạnh và đẹp.</p>
        <p>Còn khi đã ăn kiêng theo DAS thì cơ thể hoạt động trên cơ chế <b>Fat Metabolism – đốt
        mỡ</b>.Tức <b>cơ thể biến thành bộ máy đốt mỡ liên tục –> mỡ trong cơ thể bị đốt —> giảm
        mỡ</b>, nhưng do khối lượng riêng của mỡ nhẹ hơn thịt nạc rất nhiều. DO đó, khi thể tích mỡ
        giảm 10 phần thì chúng ta mới thấy cân nặng giảm đi 2-3 phần mà thôi. Và đây là lí do vì sao
        chúng ta thấy <b>số đo các vòng giảm nhiều, nhưng cân nặng giảm ít.</b></p>
        <p>Ngày nay, trong ngành dinh dưỡng học, cũng như ăn kiêng học hiện đại, hay các phương
        pháp huấn luyện cho các model, người ta ko dùng khái niệm BMI lạc hậu nữa. Mà thay vào
        đó là khái niệm <b>Body Fat</b>. Tức ko quan tâm tới cân nặng, mà quan tâm tới tỉ lệ mỡ trong cơ
        thể. Tỷ lệ bodyfat càng thấp thì cơ thể càng săn chắc, càng đẹp, quyến rũ và sexy. Tóm lại,
        là lose fat thay vì lose weight. <b>Ko quan tâm tới cân nặng giảm bao nhiêu, mà chỉ quan
        tâm tới việc giảm mỡ.</b></p>
        <img src="img/can.jpg" alt="can" />
        <div>
            <i>Ko quan tâm tới cân nặng giảm bao nhiêu, mà chỉ quan tâm tới việc giảm mỡ</i>
        </div>
        <p>Nhưng ở Việt Nam có 1 sự thật đáng buồn là kiến thức hiện đại về ăn kiêng, dinh dưỡng
        học không được cập nhật cho nên đa số các model của VN và HLV của họ không có kiến
        thức hiện đại về vấn đề trên. Họ chỉ quan tâm tới chuyện giảm cân, mà không biết tới vấn đề
        giảm mỡ. Do đó, có thể thấy body của các model VN thường bùng nhùng, ko săn chắc, gọn
        gàng, như model của Tây.</p>
        <img src="img/victoriasc.jpg" alt="vic" />
        <div>
            <i>Đây là hình của model Victoria Secret. Nói chung là chuẩn mực. Body săn chắc, khỏe khoắn,
        bodyfat cực thấp, người rất ít mỡ, cực kì sexy.</i>
        </div>
        <p>Sự khác biệt đẳng cấp giữa model VN và Victoria Secret ở đây chính là : <b>Lose fat và lose
        weight</b>. Vì mình là người chuyên nghiên cứu về dinh dưỡng học, ăn kiêng, fitness theo xu 
        hướng hiện đại của thế giới nên chủ truơng của mình ở đây là theo xu hướng của <b>Victoria's
        Secret (lose fat)</b>, chứ ko phải theo kiểu của <b>model VN ( lose weight)</b></p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong4"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong6"></a>
        </div>
    </ion-content>
</ion-view>
