<ion-view view-title="Chương 7">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>7-Áp dụng DAS vào cuộc sống hàng ngày, biến thành Life Style</h3>
        <img src="img/lifestyle.jpg" alt="life style" />
        <p>Có lẽ đối với tất cả những người đang ăn kiêng theo chế độ DAS thì việc áp dụng những
        nguyên lí của DAS vào cuộc sống thường nhật xem ra là vấn đề khó khăn và nhiều khúc mắc
        nhất. Bởi vậy, bài viết này sẽ đưa ra những lời khuyên trong những tình huống, hoàn cảnh
        cụ thể của cuộc sống thường nhật hàng ngày.</p>
        <p>Điều đầu tiên, căn bản nhất để giúp các bạn áp dụng DAS vào cuộc sống 1 cách thuần thục
        đó là những kiến thức căn bản về cách phân tích thành phần món ăn, ước lượng mà mình
        đã đề cập trong bài "Nguyên lí của chế độ ăn kiêng DAS". </p>
        <p> Thực sự món ăn, đồ uống xuất hiện trong cuộc sống cực kì đa dạng, nhưng dù gì đi chăng
        nữa thì nó cũng chỉ cấu tạo từ 3 chất căn bản: Fat, Protein và Carb. Một khi các bạn đã nắm
        chắc cách phân tích món ăn và quy nó về được 3 chất trên, thì không có món ăn, hay đồ
        uống nào làm bạn phải băn khoăn hay thắc mắc với câu hỏi rằng: Cái này có ăn được không
        ? .Bởi vậy, mình nhấn mạnh lại 1 lần nữa vai trò tuyệt đối quan trọng của kĩ năng phân tích
        món ăn đã đề cập ở trên. Giờ đây chúng ta sẽ đi vào chi tiết với những trường hợp cụ thể
        của cuộc sống:</p>
        <p><b>Khi đi du lịch, công tác dài ngày:</b> Thông thường nếu bạn đang trong giai đoạn giảm mỡ
        của DAS, mà bỗng nhiên phải đi du lịch, công tác vài ngày, hay tuần, tháng. Thì thật là khó
        khăn cho việc áp dụng DAS. Nhưng nếu như các bạn cố gắng thì mình nghĩ vấn đề này hoàn
        toàn có thể giải quyết được 1 cách dễ dàng.</p>
        <img src="img/vali.jpg" alt="life style" />
        <p>Khi đi du lịch nghỉ mát, hay đi công tác, chúng ta đa số đều ăn cơm do nhà hàng nấu trong
        các bữa tiệc, hay buổi party. Thông thường ở những bữa ăn này đa số đều có cơm đi kèm
        với canh và các món thịt.</p>
        <p>Ví dụ như canh thì có thể là canh gà nấu bóng, su hào, cà rốt. Thịt thì có thể là tôm hấp bia,
        hay thịt gà luộc v…v . Áp dụng nguyên tắc phân tích món ăn ở trên các bạn có thể thấy rằng,
        ngoại trừ cơm ra chúng ta hoàn toàn có thể ăn món canh bóng ở trên và món tôm hấp bia.
        Kể cả các bạn có sợ bia có Carb, nhưng chúng ta đâu có uống bia trực tiếp mà đơn giản chỉ
        là cái hơi bia phả vào tôm thôi.</p>
        <p> Hay lúc chấm gia vị thì có thể chấm với tương ớt chua cay, ngọt thì cũng không đáng kể.
        Bởi 100ml tương ớt thì mới có 4-5 g Carb, mà chúng ta chỉ có chấm chút xíu tương ớt như
        thế, thì đâu có gì là đáng kể mà phải băn khoăn. Nói tóm lại, là cần phải phân tích nhưng
        đừng quá cực đoan mà hãy cố gắng thoải mái hết sức có thể.</p>
        <p>Còn đối với bữa sáng, nếu như bạn cảm thấy không thể chuẩn bị được sẵn. Thì có thể rẽ
        vào siêu thị hay các chợ kế cận để mua sẵn vài hộp pho mát cùng với trứng, mayonaise để
        chúng ta có thể ăn ―dằn bụng‖ vào bữa sáng. Thậm chí nếu cần bạn hoàn toàn có thể tự mua
        thịt, rau xanh, và gửi cho nhà bếp để họ chế biến sẵn luôn bữa sáng DAS cho mình.</p>
        <p>Hay nếu không thì bạn có thể sắm thêm 1 cái bếp ga du lịch dạng nhỏ, 1 cái xong nhỏ ( có
        thể mượn ở bất cứ đâu ), mua 2-3 lạng thịt ba chỉ, thả chung vào với rau cần, đợi sôi bắc ra
        bếp là chúng ta đã có 1 bữa ăn theo phong cách DAS ngon lành và gọn nhẹ.</p>

        <p><b>Khi ăn uống cùng với gia đình:</b> Trong bữa ăn hàng ngày của người Việt Nam thì bao giờ
        ngoài cơm chủ đạo bao giờ cũng có thêm một món canh, và một món thịt. Giả như hôm nay
        gia đình bạn ăn cà pháo muối với canh cua, thịt luộc.</p>
        <p>Thì hiển nhiên, bạn chỉ cần bỏ cơm đi, và ngồi ăn thịt luộc với cà pháo và canh cua. Tất
        nhiên món ăn thì nhiều và đa dạng bởi vậy, bạn hãy áp dụng ví dụ trên đối với bữa cơm của
        gia đình mình.</p>
        <p>
            <b>Khi nấu ăn: </b>Thực ra menu khi nấu ăn của DAS rất rộng và bao trùm toàn bộ tất cả những
        món ăn mà chúng ta vẫn ăn hàng ngày. Riêng về thịt thì chúng ta không phải bàn.
        </p>
        <p>Còn về các loại gia vị, rau gia vị như, riềng, mẻ, húng, quế, hồi, mì chính, bột canh, bột nêm
        cà ri, tỏi, gừng v…v thì tất cả đều sử dụng được ngoại trừ đường kính và bột đao ( thường bỏ
        vào để sauce có độ sánh).</p>
       <p> Ngoài ra các loại rau xanh hay dùng để nấu nướng như lá mơ, dọc mùng, măng, lá lốt, rau
        đay mùng tơi, rau muống, diếp cá, rau cần, cần tây, tỏi tây, carrot v…v. Nói tóm lại là tất cả
        các loại rau xanh đều sử dụng được.</p>
        <p>Do đó, khi nấu nướng các bạn cứ áp dụng cách nấu nướng thông thường chỉ cần chú ý loại
        bỏ thành phần tinh bột và đường ra khỏi menu là xong. Ví dụ thông thường khi rán thịt thì
        ướp ngũ vị hương và nêm thêm đường. Thì giờ đây khi làm món thịt rán chúng ta đơn giản
        chỉ bỏ đường kính đi còn đâu vẫn ướp ngũ vị hương và mì chính, bột canh như bình thường.</p>
        <p>Thay đổi menu là một phần quan trọng trong quá trình diet theo DAS, bởi vì giảm mỡ và ăn
        kiêng là quá trình lâu dài. Nếu như chúng ta quá cứng nhắc và quá thụ động trong việc thay
        đổi món ăn thì hậu quả tất yếu là bữa ăn từ chỗ thưởng thức sẽ nhanh chóng trở thành gánh
        nặng gây ức chế tâm lí cho người ăn kiêng.</p>
        <p><b>Khi đi uống cafe:</b> Hầu hết ở tất cả các quán café thì đều có phục vụ kèm các loại sinh tố
        hoa quả. Mà trong đó sinh tố bơ là rất phổ biến. Bởi vậy, khi đi café với bạn bè, bạn có thể gọi
        1 cốc sinh tố bơ xay và nhớ nhắc chủ quán không bỏ đường và bỏ sữa – tức chỉ có bơ xay
        lên với đá mà thôi. Sau đó, bạn có thể dùng đường aspartame mang theo người ( dưới dạng
        túi nhỏ ), để tự tăng độ ngọt tùy ý muốn cho món sinh tố bơ của mình. Tương tự áp dụng
        nguyên tắc này chúng ta có thể gọi nước chanh không đường, hay sinh tố dâu v…v ( những 
        loại quả chua và low carb ).</p>
        <p>Còn nếu không bạn hoàn toàn có thể gọi trà lipton, dilmah v…v hay trà actiso, café không
        đường. Những đồ uống này hoàn toàn phù hợp với DAS.</p>
        <p><b>Kết luận:</b> Thành công trong việc áp dụng DAS trong cuộc sống chỉ nằm ở 2 yếu tố đó là biết
        cách phân tích đồ ăn, thức uống và khả năng áp dụng linh hoạt để biến tấu nó trong cuộc
        sống. Khi đã nắm rõ được 2 yếu tố kể trên, bạn sẽ tự động thấy DAS đã tự trở thành life style
        của bạn từ lúc nào không hay.</p>
        <p>Chúc các bạn giảm béo thành công.</p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong6"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong8"></a>
        </div>
    </ion-content>
</ion-view>
