<ion-view view-title="Chương 4">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>4-Lowcarb diet và lợi ích đối với sức khỏe</h3>
        <b>Low carb diet và các vấn đề liên quan tới sức khỏe</b>
        <img src="img/smile.jpg" alt="Smile" />
        <h4>1. Low carb diet và lợi ích của nó đối với sức khỏe</h4>
        <p>Có rất nhiều người khi nghe thấy low carb diet ăn nhiều chất béo ( high fat ), thì ngay lập tức
gán cho nó là thủ phạm gây ra bệnh tim mạch, gout, ung thư, mỡ máu, huyết áp, suy gan,
suy thận v..v . Thực ra đây là một sự nhầm lẫn đáng tiếc bởi những lí do sau đây :</p>
        <p>Những nghiên cứu về tác hại của chất béo mà chúng ta tiếp nhận qua các phương tiện
thông tin đại chúng chủ yếu được xây dựng trên chế độ ăn thông thường ( high carb), tức lúc
đó cơ thể con người hoạt động với cơ chế <b>Carb Metabolism.</b></p>
        <p>Còn đối với chế độ low carb, thì cơ thể lại hoạt động ở <b>Fat Metabolism</b> – một cơ chế khác
hoàn toàn với chế độ ăn thông thường, do đó những nghiên cứu về tác hại của chất béo đối
với cơ thể không còn đúng nữa. Thậm chí ngược lại đối với low carb diet, chất béo còn rất có
lợi cho sức khỏe, giảm huyết áp, tiểu đường, tim mạch và mỡ máu v..v</p>
        <img src="img/keto0.jpg" alt="keto" />
        <p>Điều này cũng tương tự như chuyện đau bụng uống sâm thì tắc tử. Người bị đau bụng uống
sâm thì có thể dẫn đến tử vong, nhưng người bình thường uống sâm thì lại khỏe mạnh. Vậy
liệu ta có thể dựa vào chuyện người đau bụng uống sâm bị chết mà đổ hết tội tình cho sâm
không ? Liệu chúng ta có thể dựa vào đó mà kết luận rằng, sâm là chất độc gây chết người
????</p>
        <p>Dĩ nhiên là không rồi, do đó đối với low carb diet cũng vậy, không thể dựa vào tác hại của
chất béo với chế độ ăn high carb để đánh đồng nó với chế độ low carb. Xin nhắc lại một lần
nữa, với low carb diet, cơ thể chúng ta hoạt động với một cơ chế hoàn toàn khác, và chất
béo rất có ích cho sức khỏe.</p>
        <p>Những điều trên đây sẽ được làm sáng tỏ với những dẫn chững khoa học, dựa trên thực
nghiệm, thí nghiệm với số liệu thực tế sau :</p>
        <p>A. Đại học Stanford ( Mĩ ) đã tiến hành thí nghiệm với 311 phụ nữ với chế độ ăn kiêng Atkins
( low carb ) và trong vòng một năm những phụ nữ trên có kết quả về sức khỏe như sau :
        <div>- Sức khỏe ổn định, không tìm thấy bất kì một tác nhân gây hại nào đến sức khỏe trên
những người tham gia thí nghiệm.</div>
        <div>- Chỉ số cholestrol và huyết áp đều tốt hơn ( điều này hoàn toàn phù hợp với thực tế đã kiểm
chứng của rất nhiều member theo DAS trong Box Làm Đẹp của trang www.webtretho.com )
[1].</div>
        </p>
        <p>
            B. Người Mông Cổ sống cuộc đời du mục nay đây mai đó trên các thảo nguyên và bữa ăn
hàng ngày của họ được chế biến chủ yếu từ thịt , sữa của các đàn gia súc. Người Eskimo
sống ở vùng cực Bắc của trái đất với một khí hậu lạnh giá khắc nghiệt quanh năm, nên họ
không thể trồng cây lương thực, hoa quả như những nơi khác trên trái đất. Nên bữa ăn hàng
ngày của họ chỉ có thịt, cá, nội tạng hải cẩu – một dạng ăn kiêng no carb- high fat, nhưng lại
có một sức khỏe tuyệt vời, cơ thể cân đối và không bị béo phì [2].
        </p>
        <p>C. Theo thống kê một cách không chính thức có khoảng 20 triệu người đã theo low carb
diet từ hơn 50 năm nay, thế nhưng không có bất kì một tài liệu nào ghi nhận, số lượng người
khổng lồ trên bị chết hay bị những chứng bệnh vì low carb diet. Ngược lại họ có sức khỏe ổn
định, giảm béo và sống hoàn toàn khỏe mạnh. [3]</p>
        <p>D. Trên tạp chí NewYork Times- tuần báo uy tín hàng đầu trên thế giới, với bài viết có nhan
đề : What if It's All Been a Big Fat Lie? ( Sẽ ra sao nếu như tất cả chỉ là lời nói dối khủng
khiếp về chất béo ) của tác giả Gary Taubes đã khẳng định rằng : Chất béo không bao giờ là
nguyên nhân gây ra các chứng bệnh như tim mạch, mỡ máu, và béo phì . [4]</p>
        <p>E. Nền văn minh nông nghiệp mới ra đời đuợc 10.000 năm – tức con người ăn các sản
phẩm tinh bột, ngũ cốc mới đuợc 10 000 năm. Trong khi đó lịch sử loài nguời là hàng chục
triệu năm. Vậy truớc thời điểm 10 000 năm, chúng ta ăn uống như thế nào ? Câu trả lời rất rõ
ràng, đó là ăn uống bằng săn bắt và hái lượm. Tức là ăn thịt động vật và hoa quả, rau rừng.
Thế nhưng, loài nguời vẫn trường tồn, phát triển, khỏe mạnh đâu có bị các loại bệnh tật như
cao huyết áp, mỡ máu, tim mạch v…v.</p>
        <img src="img/nguyenthuy.jpg" alt="nguoi nguyen thuy" />
        <p>Thậm chí theo rất nhiều nghiên cứu, nguời tiền sử còn có một sức khỏe sung mãn, các giác
quan tinh nhanh, bén nhậy, khả năng thích nghi với môi trường rất tốt. Và ở phương Tây có
rất nhiều tài liệu nghiên cứu về chế độ ăn của nguời tiền sử - tổ tiên của chúng ta, và gọi đó
là Cave man Diet hay Paleolithic Diet [5].</p>
    <h4>2. Low carb diet và tác hại của nó đối với sức khỏe</h4>
    <p>Dĩ nhiên vì là một cuộc cách mạng làm thay đổi hoàn toàn nhận thức của nhân loại về vai
trò thực sự của chất béo, nên kể từ lúc ra đời cho đến nay, low carb diet đã chịu rất nhiều chỉ
trích, buộc tội là tác nhân chính gây ra tim mạch, mỡ máu, gout v..v.</p>
    <img src="img/gout.jpg" alt="Gout" />
    <p>Nhưng tất cả những chỉ trích trên chỉ là những ý kiến cá nhân của các tác giả dựa trên tác
hại của chất béo với chế độ ăn thông thường. Còn không có bất kì tài liệu nào có thể đưa ra
được những số liệu thực tế, nghiên cứu khoa học nghiêm túc để phủ nhận được những điều
sau :</p>
    <p>- Hơn 20 triệu người theo low carb đã hơn 50 năm nay và sức khỏe hoàn toàn ổn định.</p>
    <p>- Người Mông Cổ, Eskimo từ hàng ngàn năm nay ăn chế độ no carb high fat, nhưng họ vẫn
sống khỏe mạnh từ đời này qua đời khác, không hề có dấu hiệu của bệnh tật. Thậm chí tuổi
thọ người Mông Cổ còn cao hơn người Việt Nam. Vào thời Thành Cát Tư Hãn, đạo quân
Mông Cổ đã từng đánh chiếm cả thế giới với sức khỏe và sự khéo léo phi thường, khiến mọi
kẻ thù phải khiếp sợ.</p>
    <p>- Rất nhiều công trình nghiên cứu, thí nghiệm cho thấy low carb là chế độ ăn lành mạnh, tốt
cho sức khỏe, giảm bệnh tật.</p>
    <p>Do đó từ hơn 50 năm nay, những ý kiến chỉ trích low carb diet mãi mãi chỉ là những câu kết
luận thiếu dẫn chứng, và cơ sở khoa học được đăng tải trên mạng mà không có bất kì số liệu 
thực tế, dẫn chứng và nghiên cứu khoa học.</p>
    <p>Dĩ nhiên, 50 năm là một khoảng thời gian đủ để chúng ta có thể thu thập những số liệu, dẫn
chứng về tác hại của low carb với số lượng hơn 20 triệu người áp dụng ( bằng ¼ dân số VN).</p>
    <p>Ngoài ra cũng có nhiều ý kiến của bác sĩ VN cho rằng khi ăn theo Low Carb thì trí não sẽ bị
ảnh hưởng, do não bộ hoạt động là nhờ Carb. Điều này là hoàn toàn vô căn cứ bời vì trong
y học có 1 trạng thái đuợc gọi là ketosis :</p>
    <p><i>Khi cơ thể thiếu hụt chất Carb, lập tức gan huy động các mô mỡ trong người để phá hủy và
sản sinh ra các ketones thay thế cho chất glucose để làm năng lượng cho não bộ và cơ thể
hoạt động. Trạng thái sản sinh ketones này, đuợc gọi là ketosis và đây là hiệu ứng chống
động kinh được dùng trong y học.</i></p>
    <p>
        <a href="http://en.wikipedia.org/wiki/Ketosis" target="_blank">http://en.wikipedia.org/wiki/Ketosis</a>
    </p>
    <p>Như thế khi không có Carb làm năng lượng thì não bộ sẽ lấy fat và protein ra làm năng
lượng thay thế. Khi lấy fat và protein làm năng lượng cho não bộ thì không những não bộ
không bị ảnh hưởng mà còn hoạt động rất tốt là đằng khác – do bản thân năng lượng từ fat
ổn định và bền bỉ hơn là năng lượng từ Carb.</p>
    <p>Người ta chỉ phán bừa rằng ăn Low Carb sẽ gây suy chức năng, gan thận v..v mà chẳng thế
lí giải nổi những thực tế sau :</p>
    <p>+ Vậy người Eskimo, Mông Cổ sống và tồn tại ra sao từ cả ngàn năm nay với chế độ cực
đoan hơn cả low carb ( chế độ no carb ), còn low carb có ăn rau xanh và hoa quả ít ngọt. Nếu
nói như những người chỉ trích lowcarb thì người Mông Cổ phải bị bệnh tật và tuyệt chủng từ
lâu rồi chứ ? Họ lấy đâu ra sức khỏe để đi xâm lăng cả thế giới. Tại sao tuổi thọ của người
Mông Cổ lại cao hơn cả người Việt Nam, trong khi người Việt Nam có chế độ ăn toàn Carb (
lúa, gạo ) ???</p>
    <img src="img/mongco.jpg" alt="Mong co" />
    <p>+ Hơn 20 triệu người từ hơn 50 năm nay tại sao lại không bị bệnh tật gì mà lại sống khỏe 
mạnh cả về tinh thần lẫn cơ thể.</p>
    <p>+ Vậy tại sao tổ tiên của chúng ta chỉ có ăn thịt và thịt, không hề có cơm, gạo, bánh mì v…v
để ăn .Tại sao họ vẫn tồn tại và phát triển khỏe mạnh, để con cháu họ là chính chúng ta tồn
tại tới ngày hôm nay ???</p>
    <p>Kết luận: những bài viết không có khoa học, không có cơ sở thực tế thì chỉ nên gọi là một
giả thuyết mang tính tham khảo ở mức hạn chế, chứ khó có thể dựa vào đó để kết luận rằng
Low-carb diet là nguyên nhân gây ra các bệnh về tim mạch, mỡ máu, huyết áp v..v</p>
    <b>Chú ý: những người bị yếu gan thận bẩm sinh hoặc bị xơ gan do rượu, do ăn các
chất độc hại thì không nên DAS.</b>
        <div class="note">
            <div><b><a href="javascript: void(0)" ng-click="isOpen = !isOpen" class="link-ex"><i class="ita">Tài liệu tham khảo :</i></a></b></div>
            <ul ng-show="isOpen" class="das-list">
                <li>[1] :Atkins Is Best Diet Around, Says Stanford University Study</li>
                <li>[2] : Searles, Edmund. ―Food and the Making of Modern Inuit Identities.‖ Food & Foodways:
            History & Culture of Human Nourishment 10 (2002): 55–78.</li>
                <li>[3] : Atkins Facts - Atkins Diet: Help or Hoax?</li>
                <li>[4] : What if It's All Been a Big Fat Lie? - The New York Times</li>
                <li>[5]: The Paleo Diet: Lose Weight and Get Healthy by Eating the Food You Were Designed
            to Eat - Loren Cordain.</li>
            </ul>
        </div>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong3"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong5"></a>
        </div>
    </ion-content>
</ion-view>
