<ion-view view-title="Chương 6">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>6-Kiểm tra quá trình ketosis bằng que thử</h3>
        <h4 class="fwb">I) Ketosis là gì và có ý nghĩa vai trò ra sao đối với DAS Diet ?</h4>
        <p>Đối với DAS hay bất kì các diet Low Carb nào khác, thì đều có đặc điểm chung là dựa vào
        quá trình ketosis của cơ thể. Ketosis được hiểu đơn giản là quá trình phân hủy các mô mỡ
        trong cơ thể sản sinh ra các ketone bodies, được đào thải ra bằng đường nước tiểu, mồ hôi,
        v…v. Bởi vậy, thông qua việc kiểm tra quá trình ketosis bằng que thử sẽ đem lại những lợi
        ích sau:</p>
        <img src="../img/keto.jpg" alt="keto" />
        <h5 class="bolta">1.Kiểm soát được quá trình ketosis trong cơ thể:</h5>
        <p>Bằng việc kiểm tra mức độ ketosis thông qua que thử, chúng ta sẽ biết được mức độ
        ketosis trong cơ thể ra sao, và từ đó sẽ tự rút ra được những quyết định kịp thời và hợp lí.</p>
        <p> Ví dụ như nếu ta kiểm tra thấy màu hơi nhạt – tức quá trình ketosis diễn ra chậm và không
        mạnh. Thì lúc đó chúng ta cần giảm bớt các loại Carb đèn vàng và tăng cường fat lên trong
        bữa ăn hàng ngày ( fat hỗ trợ quá trình ketosis rất tốt ). Nhưng chú ý là dù cho có tăng fat thế
        nào đi chăng nữa cũng phải tuân thủ và lắng nghe theo phản ứng của cơ thể. Nếu như cơ
        thể không có khả năng ăn nhiều fat, high fat, thì chỉ nên tăng chút ít ở ngưỡng chấp nhận
        được.</p>
        <p><b>Tuyệt đối tránh tình trạng nhồi nhét, cưỡng ép cơ thể phải ăn fat</b> nhiều hơn mức nó có
        thể chấp nhận được. Mọi biện pháp cưỡng ép cơ thể ăn nhiều fat sẽ chỉ gây ra những phản
        ứng bất lợi cho quá trình ăn kiêng mà thôi.</p>
        <p>Ngược lại, nếu như que thử ở mức đậm hay ở mức chấp nhận được, thì như vậy là chúng
        ta đang đi đúng hướng, và ở đây công việc đơn giản là cứ dựa theo đó mà bước đi tiếp.</p>

        <h5 class="bolta">2.Giúp công cuộc ăn kiêng trở nên thoải mái dễ dàng hơn:</h5>
        <p> Mỗi người có khả năng hấp thụ Carb khác nhau. Từ đó, sẽ ảnh hưởng đến quá trình ketosis
        khác nhau. Ví dụ như có người mỗi ngày ăn khoảng 2-300 gr Carb đèn vàng, nhưng quá
        trình ketosis vẫn diễn ra đều đặn và ngon lành.Ngược lại, có những người có khi chỉ ăn
        khoảng 100 gr Carb đèn vàng thôi, là đã thấy quá trình ketosis đứng yên hoặc chậm lại rồi.
        Như thế đối với những người mà khả năng hấp thụ Carb không tốt – quá trình ketosis diễn
        ra khá dễ dàng. Thì bằng việc kiểm tra ketosis sẽ giúp họ đưa thêm vào menu hàng ngày của
        mình những loại Carb ―đèn vàng‖ khác nhau trong giới hạn chấp nhận được.</p>
        <p>Nguyên tắc rất đơn giản, ví dụ như hôm nay bạn ăn khoảng 100 gr Carb đèn vàng và đến
        hôm sau kiểm tra thấy mọi sự vẫn ổn thỏa. Như thế ngày hôm đó bạn lại tiếp tục có thể tăng
        thêm 50-100 gr Carb đèn vàng nữa để tự thưởng cho mình.</p>
        <p>Rồi đến hôm sau nữa lại tiếp tục kiểm tra nếu thấy mọi sự vẫn ổn thì có thể tăng thêm, hoặc
        giữ nguyên – tùy vào ý muốn của bạn. Nhưng nếu thấy ketosis giảm mạnh, thì ngay lập tức
        phải quay về với mức ketosis an toàn mà bạn đã trải qua.</p>
        <p>Các loại Carb đèn vàng ở đây như các bạn đã biết đó là hoa quả chua như xoài chua, mận
        chua, dâu tây , pho mát, cream v…v. Và để đơn giản cho việc tính toán, các bạn ko nhất thiết
        phải tính toán Carb chi li cho các loại Carb đèn vàng kể trên, mà hoàn toàn có thể áp dụng
        nguyên tắc định lượng, như 1-200 gr xoài chua, dâu tây, mâm xôi hay 1-200 ml cream v…v
        .</p>
        <p>Dần dà bạn sẽ tự rút ra được ―ngưỡng an toàn‖ cho quá trình ketosis của mình, từ đó sẽ
        giúp cho việc xây dựng menu trở nên dễ dàng và ngon lành, thoải mái hơn rất nhiều.</p>
        <h5 class="fwb">II.Cách sử dụng que thử:</h5>
        <p>Các bạn có thể ra hiệu thuốc bất kì và hỏi que thử nước tiểu URS-10A. Sau đó đọc hướng
        dẫn trong mỗi hộp que thử để biết cách sử dụng và đọc chỉ số.</p>
        <div class="boline">Đây là địa chỉ mua que thử ở Hà Nội:</div>
        <p><div>ĐỊA CHỈ MUA QUE THỬ GIÁ 130K/HỘP NHÁ.</div>
            <div>CÔNG TY CỔ PHẦN VẬT Tư Y TẾ HOÀNG ANH</div>
            <div>SỐ 2 E9 PHưƠNG MAI ĐỐNG ĐA HÀ NỘI.</div>
            <div>ĐT: 04.3574 0774</div>
            <div>Cả nhà lưu ý, cửa hàng này nhìn ở ngoài bé thôi.
        Nó ở khoảng đối diện Viện Da Liễu TW nhé.</div>
        </p>
        <div class="boline">Ở Sài Gòn:</div>
        <p>Thanh Trúc Kios 5 – 334 Tô Hiến Thành – P14 – Q10 mình vừa mua lúc tối nay. 150K</p>
        <p>P/S: Việc sử dụng que thử ketosis chỉ đơn giản là 1 biện pháp hỗ trợ giúp chúng ta kiểm
        soát được quá trình ăn kiêng dễ dàng hơn mà thôi, chứ nó hoàn toàn <b> ko mang tính bắt
        buộc, nhất thiết phải có</b>. Dĩ nhiên, nếu như bạn cảm thấy kiểm soát được quá trình giảm 
        mỡ của mình, bằng việc tuân thủ những điều mình đã viết thì mình nghĩ các bạn hoàn toàn
        ko cần phải sử dụng que thử làm gì cho nó phức tạp ra cả. Đơn giản là cứ ăn theo đúng
        nguyên tắc căn bản của DAS kết hợp tập HIIT nữa là mọi thứ sẽ okie và ổn thỏa.</p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong5"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong7"></a>
        </div>
    </ion-content>
</ion-view>
