<ion-view view-title="Chương 11">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Phần I: Lịch sử phát triển của chế độ ăn ít chất tinh bột, đường ( Low Carb )</h3>
        <p> Không như đa số mọi người hay nghĩ, chế độ ăn Low Carb hoàn toàn ko phải là một chế độ
ăn mới ra đời. Thậm chí ngược lại, Low Carb là chế độ ăn cổ xưa nhất trên trái đất này. Nghe
có vẻ hơi kì lạ, nhưng thực sự điều này hầu hết chúng ta đều đã được làm quen trong những
bài học <b>lịch sử</b> ở bậc phổ thông đó là : Nền văn minh <b>săn bắt và hái lượm</b> của loài người
[1].</p>
        <img src="../img/monan.jpg" alt="" />
        <div>
            <i>Một món ăn Low Carb tiêu biểu</i>
        </div>
        <p>
            <b>Lịch sử</b> loài người đã bắt đầu từ cách đây hàng triệu năm [2]. Nhưng nền văn minh nông
nghiệp trồng trọt lúa gạo mới ra đời cách đây khoảng 10.000 năm [3]. Như thế trước cái mốc
10.000 năm đó cho đến tận điểm khởi đầu của lịch sử. Cả một giai đoạn hàng triệu năm <b>tổ
tiên của chúng ta hoàn toàn ăn uống theo chế độ Low Carb</b>. Tức là chế độ ăn dựa chủ
yếu vào việc <b>săn bắt ăn thịt các loại động vật và rau, hoa quả rừng</b> – dĩ nhiên thịt động
vật luôn là nguồn thức ăn chủ yếu và quan trọng nhất. Chế độ ăn này giờ đây được giới dinh
dưỡng và y học đặt tên cụ thể là : <b>Caveman Diet</b>, hay <b>Paleolithic Diet</b>.[4]
        </p>
        <img src="../img/sangau.jpg" alt="san gau" />
        <div>
            <i>Hình vẽ người cổ đại đang săn gấu.</i>
        </div>
        <p>
            Và thế rồi dòng <b>lịch sử </b>cứ trôi dần theo tiến trình vốn có của nó, cho đến khi dân số loài
người đã tăng lên gấp nhiều lần. Lúc này việc săn bắt hái lượm, có vẻ như ko còn phù hợp
để đáp ứng được nhu cầu tăng dân số diễn ra hết sức mãnh liệt của con người.
        </p>
        <p>Cùng với sự phát triển mạnh mẽ của các công cụ bằng sắt, nền văn minh nông nghiệp,
trồng trọt đã ra đời. Từ thời điểm đó, loài người lấy các loại tinh bột như gạo, ngũ cốc, bột mì, 
khoai, sắn v…v làm thức ăn chính, và gần như đoạn tuyệt với nền văn minh "ăn thịt" trước
kia. Ở đây xin tạm gọi văn hóa nông nghiệp, trồng trọt bằng một cái tên khái quát hơn là
: <b>Nền văn minh Carb</b>.</p>
        <img src="../img/banhmi2.jpg" alt="banhmi2.jpg" />
        <div>
            <i>Bánh mì trắng- một sản phẩm của nền văn minh Carb.</i>
        </div>
        <p>Vậy nhưng, chế độ Low Carb vẫn còn tồn tại ở một số các dân tộc du mục sống ở phía Bắc
địa cầu, tiểu biểu đó là người <b>Mông Cổ</b>, và <b>Eskimo</b>, <b>Inuit</b>. Ở những khu vực này do điều
kiện địa lí quanh năm lạnh giá, cho nên ko phù hợp với việc trồng trọt các loại cây lương
thực. Bởi vậy, người dân ở các khu vực trên vẫn duy trì và tiếp nối truyền thống của tổ tiên
đó là việc chăn thả các loài gia súc, nuôi lấy thịt sữa ( đối với người Mông Cổ ) [5] hay săn bắt
hải cẩu, cá biển, gấu trắng, chó sói v..v. ( đối với người Eskimo, Inuit) để làm thức ăn chính
[6] .</p>
        <img src="../img/thanhcat.jpg" alt="thanhcat.jpg" />
        <div>
            <i>Thành Cát Tư Hãn và vó ngựa Mông Cổ</i>
        </div>
        <p>Thật là kì lạ thay, trái ngược hoàn toàn vỡi những điều chúng ta hay nghe đại loại như : "tác
        hại của việc ăn thịt, ăn thịt gây ra gout, tim mạch, cao huyết áp, tinh bột là tối cần thiết cho
        não" v…v. Trải qua hàng triệu, hàng nghìn năm những dân tộc du mục ở phía Bắc địa cầu
        trên chỉ ăn thịt mà ko có hoa quả, rau xanh, tinh bột. Nhưng họ lại có một <b>cơ thể khỏe
        mạnh, cân đối, sức khỏe sung mãn</b> đủ để gây khiếp đảm cho cả thế giới bằng vó ngựa
        xâm lăng của mình( người Mông Cổ ) [7] hay đủ sức đương đầu với cái lạnh khắc nghiệt
        quanh năm suốt tháng như người Eskimo, Inuit [8].</p>
        <img src="../img/mongcogia.jpg" alt="mongcogia.jpg" />
        <div>
            <i>Hai bà cụ già người Eskimo đang ăn món muktuk ( làm từ thịt cá voi )</i>
        </div>
        <p>Do nền văn minh Carb đã ngự trị và thống trị quá lâu trong văn hóa của đa số cư dân trên
        địa cầu. Bởi thế, chế độ Low Carb ở các dân tộc du mục nói trên gần như đã bị giới khoa học,
        trí thức quên lãng và ko hề có ai quan tâm. Tất nhiên, cũng vẫn có người quan tâm và nghiên
        cứu về vấn đè này, nhưng nó không được phổ biến ra rộng rãi mà chỉ là những nghiên cứu
        thuộc về chuyên môn hẹp của ngành dinh dưỡng học.</p>
        <p>Nhà khoa học đầu tiên đáng để nhắc tới về việc nghiên cứu chế độ ăn Low Carb của các
        dân tộc du mục kể trên đó chính là Vilhjalmur Stefansson ( 1879-1962 ) – nhà nghiên cứu
        dân tộc học, nhà thám hiểm người Canada [9]. Sau hơn 11 năm ông đã sống và ăn, ở với
        người Eskimo, ông đã nghiên cứu và phát hiện ra chế độ ăn kì diệu của người Eskimo – chỉ
        có thịt hải cẩu, cá biển, gấu trắng, là thức ăn chính. Vậy nhưng họ lại có sức chịu đựng dẻo
        dai, sức khỏe rất tốt, ít bị các loại bệnh tật, đủ sức để đương đầu với cái lạnh giá khắc nghiệp
        ở Bắc Cực [10].</p>
        <p>Và cùng với cuốn sách <b>"My life with the Eskimo"</b> [11] của ông được xuất bản năm 1912
        được coi như dấu ấn đầu tiên trong cuộc cách mạng tư tưởng lật đổ, thay đổi những định
        kiến lâu nay của con người về vấn đề ăn thịt trong hơn hàng ngàn năm sống và ăn uống
        dưới nền văn minh Carb.</p>
        <img src="../img/nhathamhiem.jpg" alt="nhathamhiem Stefansson " />
        <div>
            <i>Vilhjalmur Stefansson (1879-1962) nhà thám hiểm, nghiên cứu dân tộc học người Canada.</i>
        </div>
        <p>Như đã nói ở trên, do điều kiện khách quan về hạn chế của các phương tiện thông tin đại
        chúng thời đó, mức độ phát triển của đại dịch béo phì chưa thực sự lớn, cho nên những
        nghiên cứu của Stefansson chỉ được gói gọn và quan tâm trong chuyên môn y học và dinh
        dưỡng, chứ ko hề được đại đa số quảng đại quần chúng biết tới.</p>
       <p>
            Và phải cho đến tận tới năm 1972 ( vào thập niên 60,70 đại dịch béo phì ở Mĩ tăng vọt 1
        cách khủng khiếp ) khi Bác sĩ Robert Atkins (1930-2003) [12] xuất bản cuốn sách mang tên :
        <b>"Dr. Atkins’ New Diet Revolution"</b> gây ra một cơn sốt chấn động ở Hoa Kì và nhiều nước
        khác trên thế giới. Thì lúc đó thực sự <b>cuộc cách mạng dinh dưỡng mới</b>, mang tên <b>Low
        Carb mới bùng nổ và phát triển</b> mạnh mẽ.
       </p>
       <img src="../img/atskin.jpg" alt="xx" />
       <div>
           <i>Dr. Robert Atkins ((1930-2003) – tác giả của Atkins Diet và ““Dr. Atkins’ New Diet Revolution”</i>
       </div>
        <p>
        Sự thành công của <b>Atkins Diet</b> đã kéo theo rất nhiều sự quan tâm của phương tiện truyền
        thông đại chúng thế giới, và của cả những nhà khoa học dinh dưỡng khác. Những nghiên
        cứu, khảo sát, thực nghiệm về chế độ Low Carb được tiến hành rộng rãi. Và thật ngạc nhiên
        tất cả những nghiên cứu đó đều cho thấy chế độ ăn Low Carb có ưu điểm <b>vượt trội về tốc
        độ giảm mỡ</b>, và <b>rất an toàn cho sức khỏe </b>[13].</p>
        <p>Thế nhưng, do <b>Low Carb</b> là một <b>cuộc cách mạng dinh dưỡng</b> cho nên đã động chạm tới
        rất nhiều những nhà dinh dưỡng truyền thống đã và đang cổ vũ cho việc hạn chế ăn thịt và
        ăn nhiều tinh bột. Bỗng chốc những người này cảm thấy bị xúc phạm, công lao sau bao
        nhiêu năm nghiên cứu của họ bỗng trở thành vô ích, không thực tế.</p>
        <p>Vậy nhưng, bản thân những nhà khoa học, tổ chức dinh dưỡng truyền thống này <b>không
        thể bác bỏ được thực tế lịch sử</b>, khảo sát số liệu về sức khỏe của người Eskimo, Mông
        Cổ và hàng triệu người ăn kiêng theo chế độ Low Carb trong hơn 50 năm nay. Và ý kiến của
        họ quanh đi quẩn lại chỉ là những lời chỉ trích Low Carb một cách vô căn cứ đó là : <b> Ăn thịt
        gây ra gout, chất béo bão hòa gây ra tim mạch, cao huyết áp v…v</b> ( dĩ nhiên đây chỉ là
        những lời nói suông mà <b>không có bất cứ thí nghiệm, bằng chứng, khảo sát nào để
        chứng minh</b> cho lời phát biểu của mình ) [14].</p>
        <p>
            Theo trào lưu phát triển của Low Carb, đã có rất nhiều nhà khoa học dinh dưỡng xuất bản 
        và viết sách về các phương pháp ăn kiêng Low Carb khác nhau. Ở đây có thể kể tên một số
        phương pháp ăn kiêng nổi tiếng như: <b> Anabolic Diet, Metabolic Diet- Dr. Dipasquale, [15]
        Ketogenic Diet – Lyle Mc Donald, [16] The Paleo Diet – Dr. Cordain [17] v…v.</b>
        </p>
        <img src="../img/metabolic.jpg" alt="metabolic.jpg" />
        <div>
            <i>The Metabolic Diet-Dr.Dipasquale, một biến thể của chế độ ăn Low Carb</i>
        </div>
        <p>
            Như vậy, qua vài dòng lịch sử ngắn gọn về sự phát triển của Low Carb. Chúng ta có thể
        thấy chế độ ăn kiêng Low Carb thực sự không có gì là quá đặc biệt, mới mẻ. Mà đó chính là
        một con đường mà loài người đang quay về với nguồn cội, tổ tiên của mình, với những giá
        trị đích thực của dinh dưỡng mà thiên nhiên ban tặng. Nhưng do ngộ nhận sống trong nền
        văn minh Carb quá lâu nên chúng ta đã quên nó đi mà thôi.
        </p>
        <p class="note">
             <a href="javascript: void(0)" class="link-ex" ng-click="isOpen = !isOpen">* Tài liệu tham khảo:</a>
             <ul class="das-list" ng-show="isOpen">
                 <li>
                     <a href="http://vi.wikipedia.org/wiki/Th%E1%BB%9Di_%C4%91%E1%BA%A1i_%C4%91%E1%BB%93_%C4%91%C3%A1" target="_blank">[1].http://vi.wikipedia.org/wiki/Th%E1%BB%9Di_%C4%91%E1%BA%A1i_%C4%91%E1%BB%93_%C4%91%C3%A1</a>
                 </li>
                 <li>
                     <a href="http://vi.wikipedia.org/wiki/Lo%C3%A0i_ng%C6%B0%E1%BB%9Di" target="_blank">[2]. http://vi.wikipedia.org/wiki/Lo%C3%A0i_ng%C6%B0%E1%BB%9Di</a>
                 </li>
                 <li>
                     <a href="http://vi.wikipedia.org/wiki/V%C4%83n_minh_l%C3%BAa_n%C6%B0%E1%BB%9Bc" target="_blank">[3].http://vi.wikipedia.org/wiki/V%C4%83n_minh_l%C3%BAa_n%C6%B0%E1%BB%9Bc</a>
                 </li>
                 <li>
                     <a href="http://en.wikipedia.org/wiki/Paleolithic_diet" target="_blank">[4]. http://en.wikipedia.org/wiki/Paleolithic_diet</a>
                 </li>
                 <li>
                     <a href="http://vietbao.vn/Doi-song-Gia-dinh/Tap-quan-an-uong-cua-nguoi-Mong-Co/10711237/239/" target="_blank">[5]. http://vietbao.vn/Doi-song-Gia-dinh/Tap-quan-an-uong-cua-nguoi-Mong-Co/10711237/239/</a>
                 </li>
                 <li>
                     [6]. http://en.wikipedia.org/wiki/Inuit_diet
                 </li>
                 <li>
                     <a href="http://www.skydoor.net/place/M%C3%B4ng_C%E1%BB%95" target="_blank">[7]. http://www.skydoor.net/place/M%C3%B4ng_C%E1%BB%95</a>
                 </li>
                 <li>
                     [8]. Edmund Searles, “Food and the Making of Modern Inuit Identities,”. ” Food & Foodways: History & Culture of Human Nourishment 10 (2002): 55–78.
                 </li>
                 <li>
                     <a href="http://en.wikipedia.org/wiki/Vilhjalmur_Stefansson" target="_blank">[9]. http://en.wikipedia.org/wiki/Vilhjalmur_Stefansson</a>
                 </li>
                 <li>
                     <a href="http://www.biblelife.org/stefansson1.htm" target="_blank">[10]. http://www.biblelife.org/stefansson1.htm</a>
                 </li>
                 <li>
                     <a href="http://www.archive.org/details/mylifewitheskim00andegoog" target="_blank">[11]. http://www.archive.org/details/mylifewitheskim00andegoog</a>
                 </li>
                 <li>
                     <a href="http://en.wikipedia.org/wiki/Robert_Atkins_%28nutritionist%29
" target="_blank">[12]. http://en.wikipedia.org/wiki/Robert_Atkins_%28nutritionist%29
</a>
                 </li>
                 <li>
                     <a href="http://www.medicalnewstoday.com/articles/64716.php" target="_blank">[13]. http://www.medicalnewstoday.com/articles/64716.php</a>
                 </li>
                 <li>
                     <a href="http://www.tienphong.vn/khoe-dep/517830/giam-gan-30kg-trong-vong-45-ngay-nho-an-thit.html" target="_blank">[14].http://www.tienphong.vn/khoe-dep/517830/giam-gan-30kg-trong-vong-45-ngay-nho-an-thit.html</a>
                 </li>
                 <li>
                     <a href="http://www.metabolicdiet.com/" target="_blank">[15]. http://www.metabolicdiet.com/</a>
                 </li>
                 <li>
                     <a href="http://www.bodyrecomposition.com/the-ketogenic-diet" target="_blank">[16]. http://www.bodyrecomposition.com/the-ketogenic-diet</a>
                 </li>
                 <li>
                     <a href="http://thepaleodiet.com/" target="_blank">[17]. http://thepaleodiet.com/</a>
                 </li>
             </ul>

        </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong9"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong12"></a>
        </div>
    </ion-content>
</ion-view>
