<ion-view view-title="Chương 12">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Phần II: Sự phát triển của chế độ dinh dưỡng Low Carb ở Việt Nam</h3>
        <h4>1. Thực trạng thông tin về chế độ dinh dưỡng Low Carb ở Việt Nam</h4>
        <img src="img/question.jpg" alt="question" />
        <div>
            <i>Tuy Low Carb đối với thế giới không phải là mới nhưng ở Việt Nam vẫn còn là một dấu hỏi
cực lớn đối với đa số mọi người.</i>
        </div>
        <p>Như đã nói ở Phần I, cách đây hơn nửa thế kỉ ở các nước phương Tây đặc biệt là ở Mĩ,
Low Carb đã trở thành một văn hóa ăn uống, <b>một phong cách sống mới ( life style )</b> dành
cho những ai muốn duy trì một vóc dáng cân đối và cơ thể khỏe mạnh mà <b>ko cần phải trải
qua những bữa ăn kiêng khổ sở</b> hay <b>những giờ tập luyện mướt mồ hôi căng
thẳng trong phòng tập luyện.</b></p>
        <p>Nhưng ở Việt Nam cho đến hiện tại những thông tin, kiến thức về chế độ dinh dưỡng Low
Carb gần như không tồn tại, có chăng cũng chỉ là những bài báo nêu thông tin một cách
ngắn gọn, khái quát về Atkins Diet [1], và cũng có rất nhiều những thông tin sai lệch về chế
độ dinh dưỡng này – nguyên nhân chính là do thiếu thông tin khách quan và không hiểu về
Low Carb.</p>
        <p>Không những vậy, bản thân do Low Carb ko đơn giản chỉ là một chế độ ăn kiêng, mà nó còn
là một cuộc cách mạng ( revolution ) trong lĩnh vực y học, cũng như là dinh dưỡng. Trong khi
đó, ở Việt Nam do các bác sỹ, chuyên gia dinh dưỡng chỉ đuợc học theo những kiến thức lạc
hậu, không đuợc cập nhật kiến thức mới. Do đó, bản thân kiến thức của họ rất mù mờ, và ko
hiểu rõ về Low Carb dẫn đến những ngộ nhận về chế độ dinh dưỡng Low Carb, khi <b>họ cho
rằng não cần phải có Carb mới hoạt động đuợc, ăn thịt gây hại thận v…v [2].</b></p>

<p>Điều trên là hoàn toàn dễ hiểu bởi vì bản thân Low Carb không phải là thực phẩm chức
năng, thuốc giảm cân, hay biện pháp trị liệu đặc biệt nào để có thể kiếm được tiền, do đó các
bác sỹ, chuyên gia dinh dưỡng cũng không phí thời gian vô ích vào tìm hiểu một phương
pháp như thế.</p>
<p>Dần dà tạo nên hiện tượng cô lập kiến thức, người Việt Nam bỗng nhiên hoàn toàn đứng
ngòai dòng phát triển mạnh mẽ của chế độ dinh dưỡng Low Carb trên thế giới. Tri thức về
dinh dưỡng hiện đại của chúng ta bỗng trở nên lạc hậu vì không đuợc cập nhật và tiếp cận
với thế giới. Và dĩ nhiên, <b>phản ứng của bất kì ai ở Việt Nam</b> khi nghe tới việc <b>"ăn thịt để
giảm béo"</b> điều đầu tiên bạn đọc sẽ nghe thấy đó là : <b>phản khoa học, vớ vẩn, linh tinh !!!!</b>.</p>

        <h4>2. Low Carb Diet ( DAS Diet ) chính thức đuợc truyền bá và phát triển ở Việt Nam.</h4>
        <img src="img/das.jpg" alt="das" style="height: 250px;" />
        <div>
            <i>Dr.Anh's Secret Diet ( DAS ) - Low Carb Diet đã được cải tiến cho phù hợp với phong tục ăn
uống của Việt Nam.</i>
        </div>
        <p></p>
        <p>Mùa hè năm 2009 chính thức là thời điểm khởi đầu của việc truyền bá những tư tưởng, kiến
thức dinh dưỡng mới, hiện đại của Low Carb vào Việt Nam. Đầu tiên bằng những bài viết về
chế độ ăn kiêng Low Carb ( đuợc trích dịch từ Atkins Diet ) của <b>Nguyễn Hoàng Anh (
Dr.Anh aka ha_misi )</b> – hiện đang là nghiên cứu sinh Ph.D – đại học xây dựng Moscow, đã
gây ra những làn sóng phản đối, có cả phẫn nộ, từ phía dư luận ở các diễn đàn như
ttvnol.com, webtretho.com. webthehinh.com v…v bởi những quan điểm mang tính cách
mạng đại loại như : <b>Ăn mỡ để giảm mỡ, béo phì là do ăn Carb</b> chứ <b>không phải là do
thừa Calories</b> do đó muốn giảm béo thì không cần cắt giảm calories mà <b>chỉ cần cắt giảm
Carb, ăn thịt rất có lợi cho sức khỏe, vóc dáng v…v.</b></p>

    <p>Nhưng đó chỉ là những phản ứng ban đầu, dần dần sự thật, lẽ phải chân lí khoa học, luôn
tìm đuợc chỗ đứng thích hợp của nó. Từ phẫn nộ, phản đối, nghi ngờ đứng trước những
bằng chứng khoa học, thực nghiệm, hình ảnh về chế độ dinh dưỡng Low Carb, càng ngày
số lượng người thay đổi quan niệm ngày càng tăng và cứ thế dần dà, những topic về Low
Carb mọc lên khắp nơi ở trên mạng và số lượng người tham gia ăn kiêng theo đà đó mà tăng
vọt về số lượng tiêu biểu có thể kể ra đây là webtretho.com[3].</p>
    <p>Và sau hơn 1 năm rưỡi đuợc truyền bá, phát triển ở Việt Nam, Low Carb đã giúp cho hàng
nghìn người giảm béo thành công lấy lại đuợc sự tự tin trong cuộc sống, bên cạnh đó rất
nhiều những bệnh nhân bị tiểu đường, cao huyết áp, gout v…v cũng tìm đến Low Carb và 
tìm lại đuợc sức khỏe cũng như vóc dáng của mình.
</p>

<p>Dĩ nhiên, con số trên vẫn còn rất khiêm tốn so với số người bị béo phì, thừa cân ở Việt Nam
hiện đang đốt tiền vào những trung tâm Spa, giảm béo, uống thuốc giảm cân, hay trở
thành con mồi ngon của các hãng thực phẩm chức năng, thuốc giảm béo. Cũng như
đối với số bệnh nhân bị các bệnh liên quan đến béo phì như tiểu đuờng, cao huyết áp, mỡ
nội tạng, gout – hiện vẫn còn đang phải oằn mình chống chọi với bệnh tật và những hóa đơn
thuốc cao chót vót cùng những bữa ăn kiêng khổ sở đạm bạc, thiếu chất do các bác sỹ
hướng dẫn.
</p>
<p>Qua vài dòng kể trên cũng đủ đem lại một bức phác thảo sơ bộ về hiện trạng kiến thức dinh
dưỡng ở Việt Nam, từ đó sẽ giúp các bạn có một cái nhìn khách quan, tổng quát hơn về chế
độ dinh dưỡng Low Carb. Từ đó, tác giả rất mong mỗi người chúng ta hãy trở thành một
tuyên truyền viên tích cực của chế độ dinh dưỡng Low Carb ( DAS Diet ) để giúp mọi người
xung quanh tìm lại đuợc hạnh phúc và sự tự tin trong cuộc sống.</p>
<b><a href="javascript: void(0)" class="link-ex" ng-click="isOpen = !isOpen">Tài liệu tham khảo.</a></b>
<ul ng-show="isOpen" class="das-list">
    <li>
        <a href="http://vietbao.vn/Suc-khoe/Atkins-che-do-tiet-thuc-danh-cho-nguoi-beo/10824966/248/" target="_blank">[1] http://vietbao.vn/Suc-khoe/Atkins-che-do-tiet-thuc-danh-cho-nguoi-beo/10824966/248/</a>
    </li>
    <li>
        <a href="http://www.tienphong.vn/khoe-dep/517830/giam-gan-30kg-trong-vong-45-ngay-nho-an-thit.html" target="_blank">[2] http://www.tienphong.vn/khoe-dep/517830/giam-gan-30kg-trong-vong-45-ngay-nho-an-thit.html</a>
    </li>
    <li>
        <a href="http://www.webtretho.com/forum/f1708/an-ngon-dep-da-eo-thon-mac-dep-we-bring-your-sexy-back-tang-13-a-908176/" target="_blank">[3] http://www.webtretho.com/forum/f1708/an-ngon-dep-da-eo-thon-mac-dep-we-bring-your-sexy-back-tang-13-a-908176/</a>
    </li>
    
</ul>
<p></p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong11"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong13"></a>
        </div>
    </ion-content>
</ion-view>
