<ion-view view-title="Chương 2">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Qui tắc Đèn Giao Thông</h3>
        <h4>A.Qui tắc Đèn Giao Thông: những thức ăn cần phải kiêng tuyệt đối ( Đèn Đỏ ), thức ăn
được ăn ít ( Đèn Vàng ) và ăn thoải mái không hạn chế ( Đèn Xanh )</h4>
	<img src="img/dengt2.jpg" alt="Đèn giao thông" />
		<h5>A1) Đèn Đỏ: các thực phẩm chứa Đường và Tinh Bột.</h5>
		<ul class="das-list">
			<li>1. Gạo, ngô, khoai, sắn, cơm, bánh mì, đường, sữa không đường và sữa có đường, bánh
gato, đồ ngọt, mì, khoai tây, v..v. Sữa không đường tuy không có đuờng kính, nhưng bản
thân trong sữa không đường đã có hàm lượng đuờng lactoza rất cao rồi. Có thể dùng các
loại Cream để thay cho sữa đặc. Nhưng phải tính toán Carb với trạng thái đèn vàng và cố
gắng khi mua chọn các loại cream có độ fat càng cao càng tốt. Lí tưởng nhất là heavy cream
với khoảng 60% fat.</li>
			<li>2. Tất cả các loại hạt như lạc , hạt điều, vừng,đỗ xanh đen, đậu nành v..v. Dĩ nhiên các loại
hạt như vừng-mè, lạc nếu như chúng ta chỉ rắc lên thức ăn cho thơm thì có thể ăn khỏang từ
50-100 gr không vấn đề gì hết cả. Có 1 số loại hạt ăn được với số lượng vừa phải sẽ nói kĩ
hơn ở dưới.</li>
			<li>3. Tất cả các loại hoa quả. Không được phép ăn bất cứ một lọai hoa quả nào ( ít nhất trong
vòng 2 tuần đầu ) . Một số loại hoa quả được phép ăn trong vòng 2 tuần sẽ nói thêm ở dưới.</li>
			<li>4. Tất cả các loại đồ ăn nhanh ( Мс Donalds, KFC v..v )</li>
			<li>5. Các loại củ quả nhiều tinh bột như đậu, và các chế phẩm của đậu, đỗ, bí đỏ, v..v ( trừ đậu
Đũa là đèn xanh và Đậu Phụ</li>
			<li>6. Các loại bia, rượu.</li>
		</ul>
		<img src="img/banhmi.jpg" alt="Bánh mì" />

		<h5>A2) Đèn Vàng</h5>
		<ul class="das-list">
			<li>1. Pho mát ( nếu ăn phô mai bò cười thì mỗi ngày không quá 200g ) v..v.</li>
			<li>2. Cà chua 300gr/ngày, hành tây, carrot mỗi ngày khoảng 400gr. Cùi dừa 2-300 gr/ngày,
nước cốt dừa ( loại nhạt, ít ngọt ) 2-300 ml/ngày. Có thể ăn hạt macadamia với số lượng
khoảng 1-200 gr/ngày.</li>
			<li>3. Chanh thường và chanh leo mỗi ngày có thể uống 3-4 quả pha với đường ăn kiêng. Dâu
tây, mâm xôi, quả bơ, có thể ăn mỗi ngày 300 gr. Củ đậu ăn mỗi ngày khỏang 200gr. Kẹo
cao su sugar free- Xylitol mỗi ngày ăn được khoảng 10 viên</li>
		</ul>

		<p><b>Chú ý:</b> chỉ được sử dụng 1 loại thực phẩm Đèn Vàng / 1 ngày.</p>
		<img src="img/bo.jpg" alt="Bơ" />
		<h5>A3) Đèn Xanh:</h5>
		<ul class="das-list">
			<li>1. Tất cả các loại thịt - có mỡ hay không tùy ý, nhưng không phải là ăn nguyên cả miếng thịt
mỡ ( như nhiều người lầm tưởng ), các loại nội tạng động vật.</li>
			<li>2. Tất cả các loại trứng của mọi loài động vật.</li>
			<li>3. Tất cả các loại dầu mỡ. Có thể ăn dấm có mầu trong suốt như nước–không ăn các loại
dấm hoa quả có mầu.
</li>
			<li>4. Bơ ( không nên ăn margarine – bơ thực vật ) nên ăn bơ động vật ( hàm lượng chất béo
càng nhiều càng tốt ).</li>
			<li>5. Các loại hải sản, cá, tôm, mực v..v</li>
			<li>6. Cocalight, pepsi light uống thoải mái. Cafe đen nguyên chất uống vô tư ( có thể thay sữa
đặc bằng whipping cream high fat và đường ăn kiêng ). Trà xanh, trà mạn, uống thoải mái.</li>
			<li>7. Rau xanh ăn thoải mái. Bắp cải, bí xanh, su su, su hào, mướp, cà tím, cà dái dê, các loại
cà , dưa chuột, cần tây, tỏi tây, măng, rau má, actiso, cỏ ngọt, rong biển, giá đỗ, các loại
nấm, v...v vô tư không cần suy nghĩ.</li>
			<li>8. Các loại rau gia vị: Rau húng, thì là, rau răm,gừng, nghệ, giềng v..v. Có thể dùng sấu, tai
chua, để tăng vị chua cho món canh cá hoặc là canh sấu nấu thịt. Chỉ để dùng nấu canh
chua thôi, không ăn chính.</li>
			<li>9. Các loại gia vị như mì chính, bột nêm v...v để dùng cho xào nấu ( chú ý xem thành phần
ở đằng sau phải không có Tinh Bột và Đường – VD như hạt nêm Knorr thì không được dùng
vì có nhiều Tinh Bột và Đường ). Tất cả các loại gia vị cà ri, quế, hồi v..v miễn là không có
đường và tinh bột là được.</li>
		</ul>
		<img src="img/thit.jpg" alt="Thịt" />

	<h4>B. Một số điều phải lưu ý :</h4>
	<ul class="das-list">
		<li>1. Lúc nào cảm thấy đói thì ăn, không được phép để cho cơ thể có cảm giác đói. Ăn sao cho
thoải mái là được, không nhất thiết phải ăn nhiều - nếu như không có khả năng. Có một
số bạn ép mình ăn quá nhiều fat bằng cách uống dầu ăn, ăn nguyên cả miếng thịt mỡ v...v,
để rồi sau đó 1 thời gian ngắn sẽ sinh ra hiện tượng sợ chất béo, sợ ăn thịt.
Do đó, mình tuyệt đối khuyến cáo các bạn không được ăn high fat, và hãy ghi nhớ rằng,
DAS đơn giản chỉ là Low Carb còn high fat hay không ? không quan trọng. Có nghĩa rằng, chỉ
cần tuân thủ nguyên tắc Low Carb của DAS, còn fat ăn như thế nào thì tùy theo sở thích, và
khả năng của mỗi người.
Nhớ ăn nhiều rau xanh và các loại su hào, măng, su su, bí xanh v..v. Nếu thèm ngọt, thèm
hoa quả thì có thể khắc phục bằng cách Cocalight, Pepsi Light uống thoải mái, và uống nước 
chanh pha với đuờng ăn kiêng. Nếu bị nhiệt thì có thể uống rau má, actiso, cỏ ngọt. Thèm
hoa quả thì có thể uống chanh thường, chanh leo( 3-4 quả), hay ăn dâu tây, mâm xôi, các
loại quả berries ( mỗi ngày 2-300 gr)
<img src="img/pepsilight.jpg" alt="Pepsi light" />
</li>
		<li>2. Chú ý trong quá trình xào nấu, rán, chế biến món ăn chú ý không nêm đường, bột trực
tiếp vào món ăn. Có thể dùng các loại bột nêm, nước tương, nước mắm thoải mái. Bởi vì
trong đó nếu như có thì chỉ chút xíu đuờng không đáng kể. Chỉ cần tránh nêm trực tiếp
đuờng và tinh bột thôi - ví dụ như làm nước sốt thì không đuợc cho bột đao, pha các loại
nước sauce rưới lên salad thì không được cho đường ( dùng đường ăn kiêng thay thế ).
</li>
		<li>3. Trong 3 ngày đầu cơ thể sẽ có sự thay đổi nhỏ như cảm giấc lâng lâng, khô miệng, mệt
mỏi, nhức đầu, choáng váng, cơ thể không có sức khỏe, dẻo dai như khi ăn bình thường.
Những phản ứng trên là do cơ thể của chúng ta đã quá quen với việc lấy Carb làm năng
lượng trong hàng chục năm ( từ bé đến giờ ). Cho nên khi thay đổi chế độ ăn, cơ thể chưa
thích nghi kịp với chế độ dinh dưỡng và nguồn năng lượng mới. Nhưng sau đó vài ngày dần
dần cơ thể sẽ trở lại bình.</li>
	</ul>
	<h4>C. Các chú ý bổ sung cần phải đọc kĩ :</h4>
	<h5>1. Thay đổi nhận thức về giảm cần, giảm mỡ:</h5>
	<p>DAS là 1 pp giảm mỡ, chứ không phải giảm cân, do đó <b>có thể kg nặng giảm chậm,
nhưng mỡ vẫn giảm</b> . Bạn hãy thử check bằng cái cạp quần mặc hàng ngày, hoặc thước
dây để xác định chính xác.
Nếu như bị chậm giảm mỡ, thì việc bạn cần làm là tăng cường tập thể dục và ăn uống sao
cho thoải mái . Cố gắng không ăn ít quá ( mỗi ngày tối thiểu phải 2-300 gr thịt ).</p>

	<p>Các bạn cần bình tĩnh, không được vội vàng. Hãy xác định giảm cân, giảm mỡ là lâu dài.
Đừng đặt 1 mục tiêu nào ra trước mắt cả. Hãy cứ cố gắng hết sức có thể mà thôi.
Nói tóm lại, là khi đã theo DAS thì <b>không nên kiểm tra cân nặng</b> của mình làm gì cả cho
sốt ruột --> ảnh hưởng đến tinh thần. Cứ theo dõi vòng bụng thôi là đủ rồi.</p>
	<img src="img/can.jpg" alt="cân" />
	<p>Bởi vì, như các bạn cũng đã biết, cân nặng thay đổi phụ thuộc vào rất nhiều yếu tố: lượng
thức ăn, nước uống hàng ngày, hay các bạn nữ hàng tháng bị tích nước khi đến giai đoạn
―moon‖ v…v. Cho nên, việc kiểm tra cân nặng là rất không chính xác và dễ gây hiểu lầm
cho chính bản thân.</p>
	<p>Do đó, mình nhắc lại 1 lần nữa, là các bạn cần phải vứt cái cân đi, đừng bao giờ kiểm tra
cân nặng cả. Các bạn cũng nên nhớ rằng, chúng ta đang cần giảm mỡ để nguời bớt béo,
mặc quần áo cho đẹp, chứ không phải là giảm cân. Cái làm cho cơ thể bị xồ xề chính là đám
mỡ thừa vô tích sự sống kí sinh trên cơ thể, chứ không phải là cân nặng. Đó mới là thủ phạm
đích thực mà chúng ta cần hướng tới.</p>
	<p>Sau khi DAS khoảng 1-2 tuần thì cơ thể sẽ bị tích nước, trong lúc này người vẫn giảm mỡ,
nhưng cân nặng thì không giảm. Bạn cũng đừng quá lo lắng về vấn đề này, bởi vì bạn bị béo
phì là do mỡ chứ không phải do nước. Cứ giảm mỡ đều là okie.</p>
	<p>Giai đoạn này diễn ra trong vòng khỏang từ 2 tuần đến 1 tháng. Nếu ai đủ bình tĩnh, kiên trì
vựot qua nỗi sợ hãi tâm lí này thì sẽ thành công. Còn ai lo lắng, sợ sệt thì sẽ thất bại.</p>

	<h5>2. Luyện tập phân tích món ăn:</h5>
	<p>Các bạn phải luyện tập cách phân tích món ăn. Bởi vì món ăn muôn hình vạn trạng, mình
không thể theo mãi bạn để nói cho bạn món nào ăn được, món nào không. Tốt nhất là bạn tự
học cách phân tích.</p>
	<div class="poem">Ví dụ : Nguyên tắc căn bản của chúng ta là kiêng những thức có đường và tinh bột. Giả sử
như đi ăn bò nướng, thì bò nướng chỉ có tí hành tây, thịt bò, rau cỏ linh tinh không đáng kể
--> ăn thoải mái.
	Dĩ nhiên giả sử như món gì đó nướng họ có cho tí xíu mật ong, tí đường vào mà mình ăn
cảm thấy ít, không đáng kể thì cũng ăn được không sao cả. Cứ thoải mái lên thôi. Nộm bò
khô thành phần nước nộm có đường ---> không ăn được. Nem rán thành phần vỏ là bánh
tráng - tinh bột --> không ăn được

</div>

	<p>Áp dụng nguyên tắc đó bạn tự có thể phân tích mọi món ăn của mình. Còn món nào mà
	không rõ thành phần, thì tốt nhất là không ăn.</p>
	<p>Tương tự đối với các loại hoa quả. Các bạn cần phải áp dụng nguyên tắc nhận biết bằng
	cách nếm thử xem nó có ngọt không ? Ví dụ xoài, nhãn, vải ăn thử thấy rất ngọt, suy ra được
	đó là đèn đỏ. Còn các loại quả chua như xoài chua, quả bơ, quả muỗng, sấu v…v, khi nếm
	thấy chúng có vị chua không ngọt lắm, suy ra đó là đèn vàng – các loại này cần phải hạn chế
	ở mức 2-300 gr/ngày. Các khái niệm đèn xanh, đỏ, vàng được đề cập kĩ hơn ở dưới..</p>
	<p>Các bạn hãy chú ý là: Cùng các loại củ, như củ sắn, củ khoai, khác hẳn với các loại củ như
	su su, su hào. Bởi vì khi cắn củ sắn, củ khoai ta thấy chúng không không có độ "sần sật" và
	có vị thơm đặc trưng của tinh bột.
	Còn su hào, su su, măng v...v tuy cũng là củ, nhưng khi ăn lại thấy sần sật và không có vị
	thơm đặc trưng của tinh bột. Hãy áp dụng nguyên tắc đó để tự phân loại các loại thức ăn có
	Carb và không có Carb cho bản thân mình.</p>
	<p>Khi bạn gặp bất kể một loại thức ăn, đồ uống nào đó thì thay vì post lên đây hỏi mọi người.
	Bạn hãy tự áp dụng nguyên lí phân tích ở trên để tự nhận biết. Bởi vì chỉ có bạn là người duy
	nhất biết được thành phần của món ăn, đồ uống đó ra làm sao. Chứ post lên đây hỏi, mọi
	người không thể biết được thành phần của nó ra làm sao cả.</p>
	<p>Ví dụ như rất nhiều bạn hỏi: Giò chả có ăn được không ? Đó là 1 câu hỏi vô ích, bởi như đã
	nói ở trên. Giò chả thành phần nó ra làm sao ? Trộn nhiều hay ít bột ? Thì chỉ có người sản
	xuất, và chính bạn là người trực tiếp ăn thì mới biết được ? Chứ ở trên diễn đàn có ai trực
	tiếp sản xuất hay được thưởng thức cái món giò chả mà bạn ăn đâu. Do đó, một lần nữa
	mình đề nghị các bạn không post các câu hỏi tương tự như trên.</p>
		<img src="img/hoingu.jpg" alt="question" />
	<h5>3. Tự tạo ra thực đơn cá nhân phù hợp với cơ thể mình:</h5>
	<p>Có nhiều bạn đặt câu hỏi rằng, sau 2 tuần DAS triệt để thì có thể ăn thêm hoa quả hay
không ? Điều này rất khó có 1 câu trả lời chính xác và vẹn toàn. Bởi vì như ở trên ta đã
biết, nguyên lí căn bản của DAS là quá trình ketosis. Mà quá trình ketosis chỉ xảy ra khi
lượng Carb nạp vào cơ thể dưới một mức nào đó. Mức giới hạn này phụ thuộc vào cơ địa,
yếu tố bẩm sinh của từng người. Không có một công thức chính xác nào để áp dụng cho tất
cả mọi người cả.</p>
	<p>Có người mức giới hạn này là 20 g Carb, có người thì 30,40, 40 v…v. Có nguời khi ăn kiêng
theo Low Carb vẫn ăn hoa quả đều đều, nhưng vẫn giảm bình thường. Nguời khác thì phải
hạn chế Carb ở mức tối đa mới bắt đầu giảm .</p>
	<p>Do đó, quyết định ăn thêm hoa quả hay không ? Là ở chính bạn. Bạn hãy tự xem xét quá
trình giảm mỡ của mình, và tự ra quyết định. Nếu như cảm thấy quá trình giảm mỡ đang
ngon trớn, thì có thể ăn thêm mỗi ngày vài trăm gr hoa quả. Còn nếu như giảm chậm, hay
muốn giảm nhanh thì tốt nhất là hạn chế.</p>
	<h5>4. Tránh suy nghĩ sai lầm về phương pháp ăn kiêng:</h5>
	<p>Có một số bạn do không tìm hiểu kĩ, nên áp dụng DAS theo kiểu ―giảm dần chất bột đường
và tăng lượng thịt‖. Điều này là cực kì nguy hiểm. Bởi vì nếu như chỉ giảm chất bột đường
mà không cắt hẳn ra khỏi bữa ăn hang ngày, thì cơ thể vẫn hoạt động ở Carb Metabolism –
chuyển hóa tinh bột.</p>
	<p>Ở cơ chế này năng lượng từ chất béo ( tăng lên ) sẽ làm cho cơ thể tích nhiều năng lượng
	và gây ra béo phì. Hãy nên nhớ rằng, chỉ khi cơ thể ở trạng thái Fat metabolism – chuyển
	hóa chất béo bằng việc ăn theo DAS, thì lúc đó năng lượng từ chất béo mới trở nên vô hại và
	giúp chúng ta giảm mỡ. Bằng không nó sẽ là con dao hai lưỡi giết ngọt cái vòng eo của bạn.</p>
	<h5>5. Không sử dụng loại đồ ăn kiêng bán ngoài thị trường khi áp dụng DAS:</h5>
	<p>Khi đi siêu thị các bạn sẽ thấy có rất nhiều các loại bánh, kẹo, sữa có nhãn hiệu "ăn kiêng -
	diet", "sugar free". Các loại bánh kẹo này tuy dán nhãn ăn kiêng, nhưng đó là dành cho chế
	độ ăn kiêng truyền thống Low fat, high carb.</p>
	<p>Dĩ nhiên do hàm lượng Carb rất cao cho nên chúng không thể sử dụng được với chế độ
	DAS .Ngoại trừ các loại kẹo cao su sugar free có thành phần Xylitol, Malitol ( đựoc dùng với
	số lượng vừa phải ) – vấn đề này sẽ được nói kĩ hơn ở bài viết về các loại đường ăn kiêng.</p>
	<h5>6 - Vấn đề cutting khi thấy quá trình giảm mỡ chậm:</h5>
	<p>Trong quá trình ăn kiêng giảm mỡ, sẽ đến một giai đoạn nào đó tự dưng bạn nhận thấy mỡ
	trong người không có dấu hiệu giảm trong suốt một thời gian dài ( 1-2 tuần ), để tiếp tục giảm
	mỡ lúc này bạn sẽ phải cutting.</p>
	<p>Cutting đơn giản là giảm lượng ăn khi theo chế độ DAS. Ví dụ như trước kia khi theo DAS
	bạn ăn 1kg thịt. Thì giờ đây khi cutting bạn giảm từ từ mỗi tuần khoảng 1-200 gr. Giảm đến
	bao giờ cảm thấy mình vẫn thoái mái không bị đói là ổn. Nói chung xét theo cân nặng của đa
	số người Việt Nam, thì khi cutting lượng ăn ít nhất là phải 300-400 gr thịt / ngày. Mức này
	tương đương khoảng 1200 Calories. Không nên ăn ít hơn mức này, bởi vì nếu ăn ít hơn, sẽ
	làm cho quá trình giảm mỡ chậm đi và khó khăn hơn nhiều.</p>
	<p>Khi cutting theo DAS, có những lợi thế sau:
	- Đường huyết ổn định --> không có cảm giác thèm ăn.
	- Sau 1-2 tuần DAS, cơ thể đã vào trạng thái niết bàn ( đốt mỡ trong cơ thể làm năng lượng
	) nên không có cảm giác đói, và không có nhu cầu ăn nhiều,
	Khi cutting theo DAS các bạn có thể ăn rất ít mà không hề bị mệt, mà vẫn thoải mái nhẹ
	nhàng. Dĩ nhiên, thực tế cho thấy, rất nhiều người "bình thường" ăn uống thoải mái, high fat,
	nhưng kết hợp tập luyện thể dục, thì mỡ vẫn giảm rất nhanh mà không cần phải nhờ tới
	cutting. Do đó, tất cả là tùy vào bạn, tự tìm ra phương pháp giảm mỡ thích hợp nhất đối với
	cơ thể mình.</p>

	<h4>D. Vấn đề tập thể dục và thực đơn</h4>

	<p>Nên tập thể dục mỗi ngày khoảng 30 phút bằng phương pháp HIIT để kích thích quá trình
đốt mỡ . Đây là bài nhạc được thiết kế theo cycle của HIIT, các bạn down về rồi copy vào
headphone hoặc bật ra loa để tập cho khí thế và tiện
dụng. <a href="http://www.mediafire.com/download.php?zqtmzxyjgxd" target="_blank"> http://www.mediafire.com/download.php?zqtmzxyjgxd</a>
Bài tập HIIT cho newbie: <a href="http://www.mediafire.com/?582f66jn5ewjftc" target="_blank">http://www.mediafire.com/?582f66jn5ewjftc</a></p>
	<p>Tập theo phương pháp HIIT đơn giản chỉ là vận động toàn thân theo tốc độ nhanh chậm 
của nhịp nhạc. Giai điệu nhanh chúng ta vận động nhanh đột ngột hết cỡ, sau đó đến đoạn
nhạc có giai điệu chậm thì giảm tốc độ từ từ, chậm dần, cứ thế lặp lại đến đoạn nhạc nhanh
thì lại tăng tốc thật nhanh. Để tập theo pp HIIT các bạn có thể áp dụng đối với các loại vận
động toàn thân như: nhảy dây, chạy tại chỗ cao chân, chạy bộ, đạp xe đạp v…v. Nếu không
có thời gian thì bạn cũng có thể thay thế bằng các loại vận động khác như Aerobic, đi bộ
chậm v…v.</p>
	<p>Ngoài ra các bạn cũng không nên tốn thời gian cho những bài tập như gập bụng, lắc vòng
v…v. Vì những bài tập này không có tác dụng đốt mỡ, mà nó chỉ có tác dụng làm săn chắc
phần cơ bụng mà thôi. Nhưng khối cơ bụng này vẫn nằm dưới đống mỡ bầy nhầy và bèo
nhèo, cho nên dù cho mỗi ngày bạn có gập bụng cả nghìn cái thì vẫn vậy. Tóm lại gập bụng
chỉ tốn thời gian, chi bằng thời gian đó chúng ta tập vận động toàn thân thì tốt hơn.</p>
	<img src="img/hiit.jpg" alt="HIIT" />
	<p>Hãy nhớ nguyên tắc căn bản như sau: Lượng oxi trong máu càng cao thì cơ thể đốt mỡ
càng nhanh. Mà lượng oxi trong máu cao khi và chỉ khi chúng ta tập các bài vận động toàn
thân làm cho cơ thể thở hồng hộc, toát mồ hôi, tim đập nhanh.</p>
	<p>Hàng ngày nên ăn làm khoảng từ 5-6 bữa, mỗi bữa ăn cách nhau 2-3 tiếng, mỗi lần ăn một
lượng vừa phải, sao cho cứ 2-3 tiếng lại ăn một lần. Không nên để quá 4 tiếng mà không ăn
gì, như thế quá trình trao đổi chất, đốt mỡ sẽ diễn ra chậm lại, không có ích cho quá trình
giảm cân. Càng ăn làm nhiều bữa, thì quá trình giảm kg sẽ diễn ra càng nhanh hơn. Dĩ
nhiên, nếu điều kiện không cho phép thì ăn 3 bữa cũng không sao cả.</p>
	<p>Các bạn chú cho rằng: DAS không có thực đơn-menu nào cụ thể cả. Mà các bạn <b>phải đọc
hiểu nguyên lý để tự chọn lựa đồ ăn cho mình</b>. Thực đơn mình liệt kê ở dưới đây chỉ là
mẫu để dựa vào đó các bạn tự lựa chọn cho mình.</p>
	<h5>Về Menu ví dụ như mỗi ngày ăn 3 bữa như sau :</h5>
	<div class="poem">
		<ul class="das-list">
			<li>- Sáng ( 7h ) : 3 trứng chiên</li>
			<li>- Trưa (13h ) : 2 đùi gà, rau muống xào</li>
			<li>- Tối ( 20h ) : 1 con cá hấp</li>
		</ul>
	</div>

	<b>* Thì khi chuyển sang ăn ngày 6 bữa sẽ ăn như sau :</b>
	<div class="poem">
		<ul class="das-list">
			<li>- Sáng (7h) : 2 trứng chiên</li>
			<li>- Gần Trưa (10h ) :Bỏ vào hộp đem đi làm, 1 trứng chiên</li>
			<li>- Trưa ( 13h ): 1 đùi gà, rau muống xào</li>
			<li>- Chiều (14h ) : 1 đùi gà</li>
			<li>- Tối ( 17h ) : Nửa con cá hấp</li>
			<li>- Giữa tối (20h) : nửa con cá hấp còn lại</li>
			<li>- Đêm (23h ) : nếu cần thì trước khi đi ngủ ăn một cái gì đó high fat, và low carb.</li>
		</ul>
	</div>
	<img src="img/trung.jpg" alt="Trứng" />
	<ul class="das-list">
		<li>+ Tóm lại, là ăn càng nhiều bữa trong một ngày ( mỗi bữa cách nhau 3 tiếng ) thì đốt mỡ xảy
ra càng nhanh, và càng thần tốc</li>
		<li>+ 3 bữa chính ăn nhiều một chút, còn 3 bữa phụ ăn nhẹ nhàng thôi.</li>
		<li>* Chú ý, là việc ăn ngày 6 bữa này chỉ diễn ra khi trong quá trình giảm mỡ, mà thôi. Sau này
sau khi đã chuyển sang giai đoạn duy trì thì không cần ăn ngày 6 bữa nữa, mà cứ lúc nào đói
thì ăn.</li>
		<li>* Kết hợp tập HIIT ngày 30 min, cộng với việc ăn ngày 6 bữa, sẽ kích thích việc đốt mỡ diễn
ra với tốc độ cực kì nhanh</li>
	</ul>

	<h5 style="text-decoration: underline;">Phân loại và tính toán lượng Carb.</h5>
	<p>Có một số người đọc trên mạng về phương pháp ăn kiêng Atkins có thấy nói về việc tính
	toán Carb. Do đó, lúc nào cũng băn khoăn về việc tính toán Carb ra sao thế nào cho chính
	xác ? Việc này đã làm cho công cuộc ăn kiêng trở nên khó khăn và vất vả gấp nhiều lần.</p>
	<p>Nguời viết bài này sau một thời gian tìm hiểu và nghiên cứu kết hợp các chế độ ăn kiêng
	Low Carb khác ( ko riêng Atkins Diet ), đã đề ra một cách phân loại và tính toán Carb theo
	một cách hoàn toán khác, vừa hiệu quả, phù hợp và tiện dụng với lối sống Việt Nam. Lại vừa
	nhàn hạ và đỡ nhức đầu. Phương pháp này đựoc gọi là phân loại theo tín hiệu đèn giao
	thông. Có 3 loại màu đèn là:</p>
	<h5>Đèn xanh – Good Carb:</h5>
	<p>Ăn thỏai mái, ko cần phải suy nghĩ . Good Carb chủ yếu xuất hiện trong các loại rau xanh,
	các loại củ, quả không tinh bột, không có vị ngọt ( đã liệt kể ở trên ). Các sản phẩm này mặc
	dù tra ở các trang Carbcounter có một hàm lượng Carb nhất định nào đó, nhưng thực sự
	chúng là Good Carb cho nên ko ảnh hưởng tới đường huyết, và ko ảnh hưởng tới quá trình 
	ketosis. Ngoài ra good carb cũng có trong các loại trứng ( 1-2g Carb per 100 g ). Nhưng do
	cũng là Good Carb cho nên cũng ko cần quan tâm tới vấn đề này, và có thể chén trứng tẹt
	ga.</p>
	<h5>Đèn vàng – Suspect Carb:</h5>
	<p>Là các loại Carb có mức độ « nguy hiểm » vừa phải, có thể dùng đuợc với số lượng hạn
	chế, nhưng ko đuợc dùng quá nhiều. Carb loại này là Carb có trong các loại whipping cream,
	pho mát, các loại hạt như lạc, điều, vừng, v...v hoa quả chua, các loại hoa quả ít ngọt đuợc
	cho phép sử dụng trong quá trình Low Carb ( đã liệt kê ở trên). Nói chung những loại này có
	thể sử dụng độ khỏang 20 gr/ngày. Nhưng cũng như đã nói ở trên về ngưỡng hấp thụ Carb
	của mỗi nguời khác nhau. Do đó mức 20 gr này có thể thay đổi lên xuống tùy theo cơ thể của
	bạn. Bởi vậy con số chính xác nhất là do bạn tự chọn lựa.</p>
	<p>Các loại carb đèn vàng thật sự là muôn hình vạn trạng và thật khó để có thể thống kê hết.
	Do đó, các bạn cần phải nắm được nguyên tắc chung sau đây để phân định Carb đèn vàng:
	Các loại Carb đèn vàng thường là những thứ mà hàm lượng chất bột đường có xuất hiện,
	nhưng thành phần ko nhiều lắm ( khoảng trên dưới 10 g ), và ko cao lắm.</p>

	<div class="poem">
		<p>Ví dụ như dâu tây có khoảng 6 g Carb per 100g. Thì dâu tây được coi là 1 loại đèn vàng. Và
	khi ăn dâu tây chúng ta cần tính toán lượng Carb với định mức phù hợp. Tương tự, khi
	chúng ta gặp nước cốt dừa, hay nước dừa, lạc v…v thì cũng nên tra cứu lượng Carb để định
	lượng xem nó là đèn vàng hay đèn đỏ, và từ đó tìm ra lượng dùng phù hợp. Tương tự, lạc có
	khoảng 7g Carb per 100g thì cũng thuộc loại đèn vàng.
	Các bạn cũng nên lưu ý rằng, ko nên tin và đọc bất cứ trang web nào có thông số về các
	loại Carb bằng tiếng Việt. Muốn tính toán Carb các bạn có thể vào đây tra – đây là địa chỉ
	chính xác nhất.</p>
	<p><a href="http://www.nutritiondata.com/" target="_blank" >http://www.nutritiondata.com/</a></p>
	<p>Khi vào trang này tra cứu thì việc đầu tiên chúng ta cần làm đó là vào phần ―serving size‖ để
	thay đổi đơn vị đo thành 100gr. Sau đó sẽ xuất hiện 1 cái bảng như thế này:
	<img src="img/nutri.jpg" alt="Nutri" />
	Nhìn vào bảng trên chúng ta xác định lượng Carb thực tác dụng bằng cách lấy Total
	Carbohydrate trừ đi cho lượng Dietary Fiber. Ví dụ như ở đây dâu tây ( strawberry) có Total
	Carb là 8g và Dietary Fiber là 2g, suy ra Carb thực của dâu tây là 6 g.</p>
	</div>
	<h5>Đèn đỏ - Bad Carb:</h5>
	<p>Carb loại này có trong đuờng kính trắng, cơm gạo, bột mì, các loại hoa quả ngọt, tinh bột
	v..v. Ví dụ như đuờng kính trắng có 99gr Carb per 100g đuờng kính. Nếu như tuân theo lí
	thuyết Atkins Diet về 20 gr Carb 1 cách máy móc thì, mỗi ngày chúng ta có thể ăn đuợc 20 gr
	đường !!!.</p>
	<p>Nhưng có một điều mà Atkins chưa tính tới đó là các loại Bad Carb có tác động cực nhanh
	tới đuờng huyết và ảnh hưởng tới quá trình ketosis, ko những thế khi đuờng huyết bị tác
	động ngay lập tức cảm giác đói thèm đồ ngọt, bánh kẹo, tinh bột sẽ ngay lập tức ập đến như
	cơn nghiện ma túy, khiến cho nguời ăn kiêng ko thể kìm lòng nổi và dẫn tới…phá chế độ.
	Cho nển chỉ cần khoảng 10 gr đuờng kính thôi cũng có thể coi như phá hỏng cả một ngày ăn
	kiêng. Do đó, đối với Bad Carb chúng ta cần phải hạn chế càng ít càng tốt.
	Lưu ý: : Để so sánh ước lượng lượng Carb là nhiều hay ít, các bạn cần phải quy về đơn vị
	100gr.</p>
	<p>Có một số bạn quá lệ thuộc cứng nhắc trong việc tra bảng dinh dưỡng. Tới mức tra trong
	trang nutrititiondata.com thấy tỏi ( garlic ) có 30g Carb/100gr, là ngay lập tức bỏ ra khỏi bữa
	ăn. Đây là một việc làm cực đoan quá mức cần thiết. Vì những lí do sau:
	Tỏi có rất nhiều loại, có loại có vị ngọt nhiều đường thì hàm lượng Carb cao, và loại ko vị
	ngọt thì dĩ nhiên hàm lượng Carb sẽ thấp.</p>
	<p>Trong khi đó bảng tra cứu dinh dưỡng chỉ nêu ra 1 loại tỏi nào đó, hơn nữa lại là tỏi ở ở
	nước ngoài. Do đó, nếu như phụ thuộc quá máy móc vào bảng tra dinh dưỡng thì sẽ dẫn
	đến ngộ nhận.</p>
	<p>Dĩ nhiên như đã nói ở trên, chúng ta hoàn toàn có thể kiểm tra xem tỏi có Carb hay ko, bằng
	cách trực tiếp nếm thử. Khi nếm thử tỏi các bạn ko thấy có vị bột, cũng ko có vị ngọt. Như thế
	rõ ràng tỏi là đèn xanh, Good Carb, bởi vậy chúng ta có thể ăn thoải mái không phải lo nghĩ
	gì. Hơn nữa, tỏi là gia vị, ko phải là đồ ăn chính, mỗi món ăn chúng ta chỉ cho có vài nhánh tỏi
	thì lượng Carb ( nếu có ) cũng chả đáng bao nhiêu.</p>
	<p>Món ăn ngon là phải có gia vị đầy đủ. Nếu như chúng ta quá cứng nhắc dựa vào bảng tra
	cứu mà loại bỏ 1 loại gia vị nào đó ra khỏi thực đơn ( do hiểu nhầm) thì có phải là đáng tiếc
	và vô tình tự làm khổ mình với những món ăn nhạt thếch vô vị ko ?</p>
	<p>Tương tự, cam, bưởi cũng có nhiều loại độ ngọt khác nhau. Cam bưởi càng ngọt thì độ
	Carb càng cao và càng chua, càng nhạt thì Carb càng ít. Trong khi đó ở các bảng tra dinh
	dưỡng thì cam hay bưởi chỉ có 1 thông sô duy nhất.</p>
	<p>Như thế làm sao có thể dựa vào bảng tra dinh dưỡng để nhận biết được cam, bưởi mà
	chúng ta ăn có bao nhiều Carb ?</p>
	<p>Do đó, mình xin nhấn mạnh các bạn cần tự kiểm tra bằng chính kĩ năng phân tích của mình,
	đừng quá lệ thuộc vào bất cứ bảng tra cứu dinh dưỡng nào cả. Đó là cách tốt nhất để chủ
	động trong việc ăn kiêng và nấu nướng hàng ngày.</p>

	<div class="button-bar">
		<a class="button icon ion-chevron-left" href="#/app/chuong1"></a>
		<a class="button" href="#/app/chaplists">DS chương</a>
		<a class="button icon ion-chevron-right" href="#/app/chuong3"></a>
	</div>
  </ion-content>
</ion-view>
