<ion-nav-buttons side="right" ng-show="false">
    <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
    </a>
</ion-nav-buttons>
<ion-view view-title="Chương 3">
    <ion-content class="padding">
        <h3>3-Relax - duy trì vóc dáng</h3>
        <p>
            <ul class="das-list">
                <li>- Mỗi ngày relax ( ăn thoải mái Carb) em bị tăng lên 2kg ? Làm sao bây giờ ?</li>
                <li>- Em đã đạt được số kg nặng như ý, vậy bây giờ phải làm thế nào để duy trì cân nặng ?</li>
            </ul>
            2 câu hỏi trên là những câu hỏi thường gặp nhất đối với các bạn đang ăn kiêng theo chế độ
            DAS. Do đó mình viết bài này để giải thích ngọn ngành 2 vấn đề trên. Hy vọng từ nay trở đi
            mình ko bao giờ gặp phải những câu hỏi về 2 vấn đề trên nữa.
        </p>
        <h4>1. Relax-restdays</h4>
        <p>Relax-rest days tức ngày ăn thoải mái, thích ăn gì thì ăn. Đối với DAS thường thì rest day sẽ
        xuất hiện sau tuần thứ 2, tức sau khoảng 12 ngày DAS triệt để thì vào ngày 13, 14 chúng ta
        sẽ "tự thưởng" cho mình 2 ngày relax. Sau đó từ tuần 3 chúng ta sẽ áp dụng chế độ 5-2. 5
        ngày DAS, 2 ngày cuối tuần relax ăn High Carb.</p>
        <p>Thông thường sau một khoảng thời gian nhất định khoảng 5-6 ngày khi DAS liên tục. Cơ
        thể sẽ bị rơi vào trạng thái ―depression‖ – chậm giảm mỡ. Điều này xảy ra do quá trình
        metabolism – chuyển hóa mỡ trong cơ thể bị chậm lại. Bởi vậy, 2 ngày cuối tuần ăn High
        Carb sẽ kích thích quá trình Fat metabolism diễn ra nhanh và mạnh mẽ hơn, kết quả là quá
        trình đốt mỡ sẽ diễn ra nhanh chóng và tốt hơn.</p>
        <p>2 ngày relax này diễn ra trong vòng 48 tiến, thuờng relax đến khi đi ngủ thì thôi, bởi vì như 
        thế sáng hôm sau qua 1 giấc ngủ, đuờng huyết và Insulin sẽ trở lại bình thường - và sáng
        hôm sau ngủ dậy chúng ta lại tiếp tục quay lại với cái máng lợn.</p>
        <p>Trong ngày relax – High Carb này các bạn ko nên ăn High Fat, và High Protein, mà chủ yếu
        nên ăn High Carb. Năng lượng từ Carb luôn chiếm khoảng 60-70 % tổng năng lượng nạp
        vào. Thực ra việc này ko có gì là khó cả. Chỉ cần các bạn ăn nhiều các loại thức ăn High
        Carb như xôi, bún, miến, phở, chè, bánh trái nọ kia, thì tự khắc sẽ là High Carb. Còn dĩ nhiên
        là nên tránh chủ động ăn các món mà Fat và Protein là chủ đạo, ví dụ như bò nướng, lẩu
        BBQ v…v là những món fat và protein là chủ đạo.</p>
        <p>Lượng fat và protein trong 2 ngày High Carb nên nạp 1 cách tự nhiên qua các món High
        Carb chủ đạo ví dụ như xôi thịt, trứng, phở gà, bò, hay pizza v…v. Ở các món High Carb này
        thì lượng Protein và fat đều chiếm 1 tỉ lệ nhỏ so với Carb bởi vậy bạn cứ tự nhiên ăn các món
        High Carb kể trên là thỏa mãn yêu cầu của ngày High Carb.</p>
        <p>Và cũng đừng nên quá tránh, quá kiêng Protein và fat trong ngày High Carb tới mức gạt bỏ
        100% ra khỏi bữa ăn.</p>
        <p>Tuyệt đối tránh kiểu sáng DAS, chiều tối relax - như thế là vô ích và ko hiệu quả.
        Chắc chắn sau 2 ngày High Carb khi trèo lên cân bạn sẽ thấy cân nặng bị tăng từ 1-2kg và
        sẽ hoảng hốt, sợ sệt, vì thấy bao nhiêu công sức của mình trong những ngày low carb đã bị
        đổ xuống sông xuống biển. Nhưng thực tế ko phải vậy. Bởi vì, số kg bị tăng sau ngày rest
        day chỉ là nước và thức ăn.</p>
        <p>Vì Carb có đặc tính giữ nước nên sau khi cơ thể dung nạp một lượng Carb rất lớn và kết
        quả là phần lớn lượng nước bạn uống hàng ngày sẽ bị giữ lại. Và lượng thức ăn công với
        nứoc uống trung bình hàng ngày có thể lên tới 3-4 kg là chuyện hết sức bình thường.
        Dĩ nhiên, chỉ sau 1-2 ngày DAS tiếp tục, lượng Carb trong ngừoi bị thải ra ngoài, cơ thể ko
        còn Carb nứoc sẽ ko bị tích nữa, và cân nặng bạn lại trở lại trạng thái bình thường và mỡ sẽ
        tiếp tục giảm. Do đó, <b>đừng nên lo lắng khi bị tăng cân sau ngày relax</b>.</p>
        <p>Rest days - relax là biện pháp tâm lí rất tốt để "xả hơi" sau những ngày mệt nhọc vì phải
        căng dây thần kinh lên cữong lại những cám dỗ từ những kem, chè, bún, miến, phở xung
        quanh chúng ta đang ngày đêm mời gọi. Nếu thần kinh của chúng ta phải sống quá lâu trong
        tình trạng "căng thẳng" như thế rất dễ bị stress và dẫn đến đứt gánh giữa đường. Do đó,
        mình khuyến khích các bạn nên tự set cho mình 1-2 ngày rest day trong tuần để cho công
        cuộc ăn kiêng trở nên thoải mái và dễ dàng hơn.</p>
        <p>Có nhiều bạn thắc mắc rằng, sau một thời gian DAS, nhưng do bận công việc, nên bỏ dở
        giữa chừng, khi quay lại không biết có phải bắt đầu lại từ đầu với 2 tuần DAS triệt để hay ko?</p>
        <p> Điều này phụ thuộc vào các nhân từng người. Bởi vì nếu như bạn cảm thấy trong vài ngày
        đầu ăn kiêng theo DAS nếu như cơ thể bình thường, không có dấu hiệu choáng váng, mệt
        mỏi ( như những ngày đầu tiên theo DAS ) thì có nghĩa rằng cơ thể bạn vẫn quen với Fat
        Metabolism.</p>
        <p>Như vậy là bạn không nhất thiết phải bắt đầu lại 2 tuần triệt để, mà có thể theo luôn 5-2
        cũng được. Ngược lại, nếu như cảm thấy mệt mỏi, thèm ăn nhiều, thì bạn cần bắt đầu lại từ
        đầu bằng 2 tuần DAS triệt để.</p>
        <h4>2. Giữ và duy trì vóc dáng.</h4>
        <div><span class="ita">Cách 1:</span> Xen kẽ ngày High Carb và Low Carb</div>
        <p>Có lẽ đối với tất cả mọi người thì vấn đề nan giải nhất luôn là bảo vệ "thành quả" sau
        những tháng ngày vật vã, kìm nén dằn lòng trước những món ngon, ngọt bùi bùi từ các đồ
        ăn có chứa Carb.</p>
        <p>  Hiển nhiên, bánh ngọt, hoa quả, cơm gạo, phở, bún miến đã trở thành một phần cuộc sống
        của tất cả chúng ta. Thế nhưng nếu như chúng ta ăn nó một cách vô tội vạ thì chắc chắn
        công sức sau bao tháng ngày sẽ đổ xuống sông xuống biển hết sạch. Vậy nhưng, chúng ta
        vẫn phải hưởng thụ cuộc sống trong khi lại muốn duy trì cân nặng ? Vậy phải làm sao ?</p>
        <p>Các bạn hãy yên chí, chúng ta đã có cách giải quyết. Sau một thời gian dài tìm tòi nghiên
        cứu qua mọi phương pháp ăn kiêng low carb, và thí nghiệm trên chính cơ thể của mình,
        người viết đã rút ra một quy tắc vàng để giúp các bạn giữ và duy trì được cân nặng của
        mình. Đó chính là nguyên lý ― Cắt mạch hấp thụ Carb của cơ thể‖ - nguyên lí xen kẽ</p>
        <p>Theo các tài liệu nghiên cứu về low carb thì Carb chỉ có thể gây béo phì khi được dung
        nạp liên tục vào cơ thể trong vòng 2-3 ngày. Có nghĩa rằng, nếu như chúng ta ăn xả láng
        các loại Carb trong ngày đầu tiên và ngày thứ hai thì sang ngày thứ ba chúng ta lại ăn low
        carb với thịt cá, trứng, rau xanh thoải mái ko hạn chế. Thì mỡ vẫn ko thể tích tụ lại trong cơ
        thể được.</p>
        <p>Mục đích chính của việc này như đã nói ở trên đó là cắt mạch chuyển hóa Carb trong cơ
        thể. Và với nguyên lí xen kẽ High Carb ( HC)-Low carb (LC) như trên chúng ta sẽ duy trì nó
        cho đến hết suốt cuộc đời. Vừa đảm bảo được ăn thỏa thích mọi thứ mình muốn và vẫn duy
        trì được cân nặng của mình</p>
        <p>Do mỗi người có khả năng chuyển hóa Carb trong cơ thể khác nhau. Nên ko có một quy
        luật cụ thể cho tất cả mọi người. Bởi vậy mỗi người cần phải tự thí nghiệm và theo dõi trên
        cơ thể của mình, để tự rút ra tỉ lệ số ngày High Carb/Low carb cho riêng mình.</p>
        <p>Nào chúng ta bắt đầu bước vào giai đoạn kiểm tra khả năng hấp thụ Carb của cơ thể . Đầu
        tiên các bạn cần chú ý là thường xuyên check mỡ bụng, check vòng bụng liên tục trong quá
        trình theo dõi này. Ngay sau khi đạt được tỉ lệ mỡ như ý muốn. Bạn nên cho cơ thể làm quen
        với Carb bằng chế độ 5 LC -2 HC trong một tuần đầu tiên.</p>
        <p>Tiếp tục sang tuần thứ 2 bạn lại chuyển sang chế độ 4 LC – 1 HC lặp lại 2 lần (10 ngày ).
        Nếu sau 10 ngày vừa rồi, mọi thứ vẫn ổn, bạn check mỡ bụng ko thấy bị tăng, thì tiếp tục lại
        3 LC – 1 HC . Nếu vẫn ổn tiếp tục 2 LC – 1 HC. Tiếp tục, 1 LC – 2 HC or 3 HC or 4 HC ( cái
        này có vẻ mạo hiểm đây ) v..v Dần dà bạn sẽ tự tìm ra tỉ lệ HC-LC phù hợp với bản thân
        mình. Nói chung đừng quá cứng nhắc có thể là 2HC-2LC v..v</p>
        <p>Còn nếu như bạn đang bận low carb mà phải đi ăn uống với bạn bè thì ngày đó cứ ăn xả
        láng đi. Rồi lại bỏ 2-3 ngày sau low carb để tránh cơ thể bị tích tụ Carb liên tục. Cứ nắm giữ
        nguyên tắc vàng trên, bạn có thể tự chuyển đổi sao cho phù hợp với cuộc sống hàng ngày 
        của mình nhất.</p>
        <p> Dĩ nhiên, có thể bạn cho mình quá đà đến 3,4 hoặc là 5 ngày xả láng vô độ. Nếu như ko
        thấy vấn đề gì thì ko sao ( có thể tiếp tục xả láng ). nhưng nếu thấy mỡ bụng tăng lên ( mặc
        quần thấy chật ) thì ngay lập tức phải quay lại low carb vài ngày để cơ thể rút bớt mỡ.</p>
        <p> Chú ý trong quá trình kiểm tra. <b>Tuyệt đối ko kiểm tra cân nặng</b>. Bởi như đã nói ở trên.
        Carb có đặc tính tích nứoc, và lưu giữ "phế thải" ở trong bụng. Cho nên sau ngày High Carb,
        chắc chắn bạn sẽ bị tăng kg ( do nứoc và "phế thải" ). Do đó, nêu bạn kiểm tra cân nặng thì
        chắc chắn sẽ sai lầm và không đúng với mục đích của chúng ta đề ra. Bởi vì mục đích của
        chúng ta làm giảm và duy trì tỉ lệ mỡ, chứ ko phải là duy trì cân nặng.</p>
        <p>Trên thực tế có rất nhiều ngừoi thành công với chế độ 4 HC - 2 LC. Có nghĩa rằng 4 ngày ăn
        xả láng Carb và chỉ cần 2 Low carb là okie. Hay thậm chí có người sau low carb ăn trở lại
        bình thừong vẫn ko thấy tăng cân. Nói tóm lại tất cả là do bạn chọn lựa và tự thí nghiệm với
        cơ thể của mình</p>
        <div><span class="ita">Cách 2:</span>Trạng thái tới hạn</div> 
        <p>Giả sử như mục đích ban đầu của bạn là vòng bụng khỏang 63,64. Nhưng hãy cố gắng ép
        tới mức vòng bụng khỏang còn 59,60. Để rồi sau khi ăn kiêng DAS xong, các bạn quay lại
        chế độ ăn bình thường, và theo dõi kiểm tra vòng bụng sao cho đến bao giờ vòng bụng béo
        lên và đạt ngưỡng 63,64, hoặc là 65 - hơn 1 chút. Thì lúc đó, nếu như muốn bạn lại có thể
        quay trở lại DAS để hạ vòng bụng xuống mức 59,60 rồi lại tiếp tục thác loạn v...v cứ thế, cứ
        thế xoay vòng</p>
        <p>Cách này đơn giản là tạo ra 1 khỏang biến chuyển tỉ lệ mỡ trong nguời trong nguỡng cho
        phép từ một mức thấp lên mức vừa vừa - chấp nhận đựoc. Trong mức này thì khỏang thời
        gian đó là lúc bạn có thể quay lại với chế độ ăn bình thường mà ko cần phải suy nghĩ gì.
        Do DAS có đặc tính đốt mỡ rất nhanh và mạnh. Do đó, lượng mỡ mới tạo thành sau khi ăn
        trở lại bình thường cần phải có 1 thời gian dài để tích tụ, và cơ thể cũng mất thời gian để "làm
        quen" lại với Carb. Bởi vậy, thực tế cho thấy, có rất nhiều nguời sau khi giảm cân xong với
        DAS, quay trở lại ăn bình thường trong vòng 2-3 tháng trời mà vòng bụng chỉ tăng có 1-2 cm
        mà thôi.</p>
        <p>Bởi vậy nếu thích các bạn có thể chọn lựa phưong án này để duy trì cân nặng và tỉ lệ mỡ
        trong cơ thể.</p>
        <p></p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong2"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong4"></a>
        </div>
    </ion-content>
</ion-view>
