<ion-view view-title="Chương 13">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Phần III: Giới thiệu về Atkins’ Diet và DAS Diet.</h3>
        <h4>1. Giới thiệu về Atkins’ Diet</h4>
        <img src="../img/atskinbook.jpg" alt="atskinbook.jpg" />
        <div>
            <i>Bìa cuốn Dr.Atkin’s Diet Revolution (đã nhanh chóng trở thành best-seller ngay sau khi
xuất bản)</i>
        </div>
        <p></p>
        <p>Có lẽ trong các chế độ ăn kiêng dựa trên nền tảng của chế độ dinh dưỡng Low Carb
thì <b>Atkins Diet</b> là nổi tiếng nhất. Năm 1972 được coi là cái mốc đánh dấu sự ra đời chính
thức của Atkins Diet khi bác sỹ <b>R.Atkins</b> xuất bản cuốn <b>Dr. Atkins’ Diet Revolution.</b></p>
        <p>Chỉ sau một thời gian ngắn Atkins Diet đã nhanh chóng trở thành một cơn sốt, gây chấn
    động nước Mĩ và các nước Châu Âu về một chế độ ăn kiêng <b>sung sướng mà… không cần
    phải nhịn ăn, không cần tập thể dục.</b></p>
        <p>Atkins Diet đuợc phân ra làm 4 giai đoạn cùng với những nguyên tắc sau: [1]</p>
        <p><b>Giai đoạn 1 ( Khởi đầu )</b> : Quá trình giảm cân đuợc khởi đầu bằng việc tính toán <b>lượng
Carb dung nạp hàng ngày dưới mức 20g</b> từ các loại thức ăn.</p>
        <p><b>Giai đoạn 2 ( Tiếp tục giảm cân )</b> : Tăng dần lượng Carb <b>nạp vào hàng ngày thêm 5 g
trong mỗi tuần</b>. Lượng Carb tăng thêm này đuợc gọi là CLL ( Carbohydrate Level for Losing
– Mức Carb giới hạn cho việc giảm cân ). Chỉ số OWL đuợc tính toán cân nhắc sao cho quá
trình giảm cân vẫn diễn ra đều đặn và liên tục.</p>
        <p><b>Giai đoạn 3 ( Tiền duy trì ) </b>: <b>Tăng thêm 10 g Carb nạp vào hàng ngày trong mỗi tuần</b>.
Mục đích của việc này là để tìm được chỉ số Carbohydrate Equilibrium (ACE) – Mức Carb
cân bằng. Chỉ số này chính là lượng Carb đuợc tăng thêm trong mỗi ngày sao cho không để
xảy ra việc tăng cân trở lại.</p>
        <p>Giai đoạn 4 ( Duy trì ) : Giai đoạn này hướng tới việc duy trì những thói quen cũ trong 3
giai đoạn đầu. Lúc này người ăn kiêng <b>vẫn phải chú ý tính toán chỉ số ACE</b> và các loại
thức ăn khác nhau để tránh cho mình không bị tăng cân. Nếu như bị tăng cân trở lại thì phải
quay lại giai đoạn 1.</p>
        <img src="../img/tired.jpg" alt="tired" />
        <div>
            <i>Có vẻ như việc tính toán Carb theo Atkins không hề đơn giản một chút nào</i>
        </div>
        <p>Qua vài dòng kể trên chúng ta dễ dàng nhận thấy Atkins Diet có những điểm không phù 
hợp khi áp dụng vào văn hóa ăn uống ở Việt Nam như sau:</p>
        <p>- Atkins Diet sinh ra và phát triển ở phương Tây nên các loại thức ăn đề cập đa số là các
        món ăn nước ngoài, hơn nữa do phương Tây có thói quen ăn nhiều thịt, mỡ hơn người Việt
        Nam. Bởi vậy, thực đơn nguyên tắc của Atkins thực sự gây khó khăn cho người Việt Nam
        khi theo và áp dụng.</p>
        <p> <b>- Việc tính toán lượng Carb trong các giai đoạn quá phức tạp</b>, gây rắc rối cho việc theo
        và áp dụng. Kể cả đến giai đoạn duy trì cũng chỉ là tăng lượng Carb từ các loại ngũ cốc
        nguyên hạt lên mà thôi. Chứ không phải là có thể trở lại với chế độ ăn như cũ. Như vậy, <b>nếu
        áp dụng vào Việt Nam</b>, thì có nghĩa rằng người ăn kiêng sẽ <b>phải giã từ vĩnh viễn những
        bánh kẹo, cơm, phở, mì, bún, miến v….v</b> nếu như muốn duy trì vóc dáng của mình.</p>
        <p>Chính vì lí do trên, mà sau một thời gian nghiên cứu các tài liệu liên quan đến chế độ dinh
        dưỡng Low Carb, áp dụng, thí nghiệm trên cơ thể bản thân, kết hợp với kinh nghiệm có đuợc
        từ quá trình tham gia tư vấn giảm béo, giảm mỡ cho rất nhiều người. Tác giả <b>Nguyễn
        Hòang Anh [2]</b> đã mạnh dạn <b>cải tiến Atkins Diet, kết hợp với các chế độ ăn kiêng Low
        Carb khác nhau</b>, đi kèm với việc <b>chú ý tới văn hóa ăn uống của người Việt Nam</b> đã phát
        triển và đề ra một <b> chế độ ăn kiêng Low Carb mới có tên gọi : DAS Diet ( Dr.Anh’s Secret
        Diet )</b>.</p>
        <h4>2. DAS Diet - Chế độ ăn kiêng Low Carb dành cho người Việt Nam</h4>
        <img src="../img/das.jpg" alt="das" style="height: 250px;" />
        <div>
            <i>DAS Diet – giải pháp hoàn hảo dành cho người Việt Nam để có đuợc một thân hình lý tưởng</i>
        </div>
        <p><b>DAS Diet</b> được coi như kế thừa, tổng hợp và phát triển những giá trị đặc sắc nhất của các
        chế độ ăn kiêng Low Carb nổi tiếng trên thế giới như : <b>Atkins Diet, Anabolic Diet,
        Ketogenic Diet, Caveman Diet .</b></p>
        <p>Không những thế, triết lí căn bản của <b>DAS Diet</b> là : <b>Nếu như một chế độ ăn kiêng không
        thuận tiện với văn hóa ăn uống, cuộc sống hàng ngày, thì chế độ ăn kiêng đó coi như
        thất bại</b>. Dựa vào những tiêu chí đơn giản, thuận tiện, linh động, dễ dàng, <b>DAS Diet</b> đã ra
        đời với nội dung chính như sau:</p>
        <p> <b>Giai đoạn giảm mỡ : Không phải tính toán lượng Carb</b> nạp hàng ngày dưới 20g, mà đề
        ra phương pháp phân loại Carb theo Qui tắc Đèn giao thông.
        Tức là các loại thức ăn <b>"Đèn xanh"</b> như rau xanh, gia vị, củ quả ít tinh bột v…v <b>đuợc
        phép ăn thoải mái</b> mà không bao giờ phải tính toán Carb. <b>"Đèn vàng"</b> là các loại thức ăn
        cần ăn theo <b>một số lượng nhất định </b> tùy vào tốc độ giảm mỡ của từng người. Còn <b>"Đèn
        đỏ"</b> là những thứ cần phải <b>hạn chế thấp nhất có thể</b>.</p>
        <img src="../img/rice.jpg" alt="com" />
        <div>
            <i>Chính những bát cơm đầy tinh bột thế này đuợc coi là thủ phạm chính giết ngọt vòng eo của
        bạn..</i>
        </div>
        <p></p>
        <p>- <b>Giai đoạn duy trì:</b> Dùy trì tỉ lệ mỡ trong cơ thể theo nguyên tắc "cắt mạch hấp thụ Carb"
        bằng việc <b>xen kẽ </b> giữa những ngày High Carb ( ăn thoải mái Carb ) và Low Carb ( chế độ <b>5
        ngày DAS liên tục - 2 ngày ăn thoải mái tinh bột và đường </b>) hay cũng có thể theo
        phương pháp ― trạng thái giới hạn của tỉ lệ mỡ trong cơ thể‖ ( cứ ăn thoải mái, thấy béo lên
        thì DAS ).</p>
        <p>Việc này tạo điều kiện cho người ăn kiêng có thể <b>ăn thoải mái tất cả mọi thứ không hạn
        chế</b>, mà <b>không bao giờ phải lo lắng</b> về cái bụng và vòng eo của mình bị tăng lên.</p>

        <p>Như thế chúng ta vừa có điều kiện <b>thưởng thức những món ăn đã trở thành một phần 
        của cuộc sống hàng ngày như: phở, bún chả, bánh xèo, bánh gato, pizza, pasta
        v…v</b> mà vẫn <b>có thể mặc đồ bó, áo bó ôm eo, ôm sát người</b> một cách thoải mái, không
        cần suy nghĩ. Tức là <b>vừa ăn ngon mà mặc vẫn đẹp.</b></p>
        <img src="../img/modelbody.jpg" alt="modelbody.jpg" />
        <p><i>Sau khi giảm mỡ thành công, các bạn sẽ được cung cấp kiến thức để duy trì vóc dáng cơ thể
        của mình mãi mãi.</i></p>
        <p>Tiến xa hơn nữa, DAS Diet không chủ trương bày ra cho các bạn một menu cụ thể nào để
        ăn kiêng ngắn hạn trong thời gian ngắn. Mà DAS Diet chủ trương hướng tới việc <b>thay đổi tư
        duy</b> bằng việc cung cấp <b>những kiến thức làm đẹp, dinh dưỡng hiện đại của các model
        Victoria's Secret hàng đầu thế giới đang sử dụng</b> – ví dụ như quan niệm mới về vấn
        đề <b>giảm mỡ mới là quan trọng, giảm cân chỉ là phụ</b>. Hay việc sử dụng chế độ ăn kiêng
        kết hợp ra sao với chế độ luyện tập v…v .</p>
        <p> Khi bạn đọc đã sở hữu đuợc những kiến thức này rồi, thì nó sẽ luôn ở bên bạn trong suốt
        cuộc đời, giúp bạn duy trì đuợc vóc dáng và cơ thể mình ở luôn trạng thái sung mãn và đẹp
        nhất.</p>
        <p style="text-align: center;"><b>Chúc các bạn thành công với DAS Diet.</b></p>
        <p>Tham khảo và ghi chú:</p>
        <ul class="das-list">
            <li>[1]. Dr.Atkin’s Diet Revolution</li>
            <li><a href="http://www.facebook.com/dasdiet" target="_blank">[2]. http://www.facebook.com/dasdiet</a></li>
            <li>
                <a href="https://www.facebook.com/groups/439339842908433/" target="_blank">DAS Market</a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/Black.DASmarket/" target="_blank">DAS. Black Market-Cùng Giảm Mỡ</a>
            </li>
        </ul>
        <h4 class="boline">Thông tin về tác giả:</h4>
        <p>
            <div>Họ tên: Nguyễn Hoàng Anh</div>
            <div>Ngày sinh: 18-10-1984.</div>
        </p>
        
        <p>Nghề nghiệp: Giảng viên đại học, hiện đang làm nghiên cứu sinh tiến sĩ chuyên ngành cơ
        học kết cấu đại học xây dựng Moscow.</p>
        <p>Thông tin liên lạc: Mọi thông tin bạn đọc có thể gửi trực tiếp vào địa chỉ Facebook của tác
        giả : <a href="https://facebook.com/montecristo8345" target="_blank">https://facebook.com/montecristo8345</a> hoặc <a target="_blank" href="https://www.facebook.com/profile.php?id=100003834111614">https://www.facebook.com/profile.php?id=100003834111614</a>, hoặc trang Facebook của DAS:
        <a target="_blank" href="http://www.facebook.com/dasdiet">http://www.facebook.com/dasdiet</a></p>
        <p>Tác giả rất mong được nhận góp ý, phản hồi, ý kiến nhận xét của bạn đọc.</p>
        <p> Mọi tài liệu về phương pháp DAS và eDAS đều có bản quyền thuộc về DAS Corp với sự bảo
        vệ của pháp luật. Khi bạn trích dẫn hay sử dụng các tài liệu này thì hãy ghi rõ nguồn gốc. Xin
        cảm ơn.</p>
        <p>Website: dasdiet.vn – lowcarb.vn</p>
        <p>Facebook: facebook.com/dasdiet</p>
        <p>Diễn Đàn: forum.dasdiet.vn</p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong12"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong14"></a>
        </div>
    </ion-content>
</ion-view>
