<ion-nav-buttons side="right" ng-show="false">
    <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
    </a>
</ion-nav-buttons>
<ion-view view-title="eDAS - Chương 3">
    <ion-content class="padding">
        <h3>Bắt đầu chế độ eDAS 2</h3>
        <p>Chế độ eDAS 2 được xây dựng theo nguyên tắc 3-1-2-1 ( tức 3 ngày Low
        Carb - 1 ngày High Carb – 2 ngày Low Carb – 1 ngày High Carb ). Sau đó lặp
        lại chu kì. Tất nhiên chúng ta có thể đổi từ 3-1-2-1 ( hết 1 tuần ) rồi sang tuần
        mới thành 2-1-3-1 cũng được ko sao cả. Miễn luôn phải nhớ nguyên tắc : Sau
        2-3 ngày low carb thì phải có 1 ngày High Carb, và không nên High Carb liên
        tục quá 2 ngày – vì nhiều người bị nhạy Carb có khả năng bị tăng mỡ.</p>
        <p> Tất cả mọi người cho dù đang theo DAS hay theo eDAS 1 ( sẽ được tích
        hợp luôn vào DAS ) hay chưa bao giờ DAS đều ngay lập tức có thể bắt đầu
        theo eDAS 2 mà không cần phải khởi động gì cả.</p>
        <h4>A) Hướng dẫn dành cho ngày Low Carb</h4>
        <p>Ngày Low Carb chúng ta vẫn tuân thủ theo nguyên tắc đèn giao thông của
        DAS tức ăn đèn xanh thoải mái, đèn vàng hạn chế, đèn vàng - xanh ăn vừa
        vừa, đèn đỏ phải kiêng tuyệt đối.</p>
        <p>Ví dụ một menu mẫu của ngày Low Carb như sau:</p>
       <p> - Sáng: ăn 2, 3 quả trứng vịt lộn, hoặc ra hàng phở, bún gọi một bát thịt
        không bánh, hoặc chuẩn bị đồ ăn từ trước đun nóng rồi ăn sáng với bún
        Shirataki hay miến làm bằng thạch rau câu.</p>
        <p>- Trưa: ăn ở hàng cơm bình dân chỉ ăn thức ăn, canh rau các loại ko ăn
        cơm. Ví dụ gọi 2 quả trứng ốp, và thịt luộc.</p>
        <p>- Tối : về nhà ăn với gia đình miễn không ăn cơm là được.</p>
        <p>Nói chung khi đã tuân thủ theo nguyên tắc đèn giao thông của DAS như ở
        trên thì DASer sẽ không phải tính toán bất cứ cái gì. Cứ ăn thoải mái, ăn no là
        được và không phải băn khoăn hay lo lắng gì cả.</p>
        <p>Cố gắng mỗi ngày tối thiểu ăn ít nhất 200 gr thịt các loại, nếu ăn trứng thì
        cứ nhớ 4 quả trứng thì bằng = 1 lạng thịt để dễ quy đổi nhé.</p>
        <p>Mỗi ngày DASer cần phải ăn ít nhất là 3 bữa, ăn nhiều bữa thì càng tốt. Ví
        dụ ăn 3 bữa sáng trưa tối rồi, thì trước khi đi ngủ cần ăn thêm 1 bữa nhẹ nữa
        để kích thích quá trình đốt mỡ xảy ra nhanh hơn.</p>
        <h4>B) Hướng dẫn dành cho ngày Relax, High Carb</h4>
        <p>Ngày relax bắt đầu từ lúc sáng sớm ngủ dậy và kết thúc vào lúc trước khi
        chúng ta lên giường đi ngủ. Tránh kiểu relax vào 12h đêm ngày hôm trước,
        như thế là vi phạm chế độ.</p>
        <p> Ngày relax chúng ta có thể ăn thoải mái tùy thích, nhưng chủ yếu nên ăn
        nhiều các loại hoa quả, sữa, kem, không nên ăn quá nhiều và nhồi nhét. Bởi
        nếu ăn quá nhiều tinh bột, nhồi nhét thì có khả năng bị rối loạn tiêu hóa, hay
        bị đầy bụng khó tiêu, cảm giác nặng nề cho tới những ngày sau.</p>
        <p> Hơn nữa khi chúng ta đã relax với lịch 3-1-2-1 rồi thì ngày relax được bố trí
        liên tục nên cũng không làm cho DASer bị vật vã nhiều -> không cần ăn trả
        thù vào những ngày relax.</p>
        <p>Tóm lại các DASer nên nhớ vào ngày relax - High Carb chúng ta ăn thoải
        mái nhưng tránh nhồi nhét.</p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong2"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong4"></a>
        </div>
    </ion-content>
</ion-view>
