<ion-view view-title="eDAS - Chương 7">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Nguyên lí khoa học của eDAS 2</h3>
        <img src="img/meta.jpg" alt="meta" />
        <p>Cơ thể của chúng ta là một bộ máy sinh tồn, do đó nó sẽ tìm mọi cách để
        tồn tại. Trong đó việc tích trữ mỡ thừa là bản năng của cơ thể, bởi cơ thể
        chúng ta luôn cần mỡ thừa để phòng trường hợp đói kém, thiên tai không có
        nguồn thực phẩm từ bên ngoài vào, khi đó mỡ thừa trên cơ thể sẽ được lấy
        ra để đốt làm năng lượng.</p>
        <p>Một vấn đề mà mọi chế độ ăn kiêng cho dù là low carb hay low fat đều gặp
        phải đó là sau khi ăn kiêng 1 thời gian cho dù chúng ta có tập luyện, hay cắt
        giảm năng lượng nạp vào tới cỡ nào đi chăng nữa thì cái đống mỡ trên cơ
        thể vẫn cứ khư khư trơ mặt ra đó không hề giảm. Ấy chính là khi chúng ta đã
        vấp phải bức tường bản năng của cơ thể trong việc giảm mỡ.</p>
        <p>Cơ thể chúng ta không bao giờ muốn giảm mỡ, do đó ngay khi chúng ta
        cắt giảm năng lượng hay theo Low Carb 1 thời gian dài. Thì cơ thể nhận ra
        sự thiếu hụt năng lượng này và nó sẽ tự thích nghi bằng cách giảm sự trao
        đổi chất xuống ( slowdown metabolism) đưa cơ thể vào trạng thái ngủ đông,
        giảm năng lượng thải ra  giảm số mỡ trên cơ thể bị tiêu hao đi tới mức tối
        thiểu. </p>
        <p> Đối với chế độ low carb truyền thống, do chúng ta để cơ thể ở chế độ
        ketosis 1 thời gian dài cho nên ban đầu có thể hiệu quả giảm béo tốt, nhưng
        dần dà về sau khi cơ thể đã nhận biết chúng ta đang ăn kiêng để giảm mỡ và
        sẽ phát ra các phản ứng chống lại như đã nói ở trên để đối phó.</p>
        <p> Điều này có thể giải thích cụ thể hơn như sau: lượng Carbohydrate chúng
        ta ăn vào hàng ngày sẽ bị chuyển hóa thành Glycogen tích ở gan và phần cơ
        bắp – hiểu nôm na như 1 bể chứa. Khi lượng Carb nạp vào trong thời gian
        dài vượt ngưỡng thì cái bể chứa đó bị tràn, lúc đó Carb ăn vào sẽ bị tích
        thành mỡ. Đây là lí do giải thích vì sao nếu chúng ta ăn Carb quá 2 ngày thì
        có khả năng bị béo đó là do bể chứa Glycogen bị tràn đầy, còn sau khi low
        carb 2-3 ngày để rút cạn cái bể Glycogen đó thì ăn Carb trong vòng 1 ngày lại
        không bị béo.</p>
        <p> Khi chúng ta ở trạng thái Ketosis ( cắt Carb) thì cái bể chưa đó bị cạn kiệt.
        Nhưng hệ quả của việc này kéo theo đó là hàm lượng hormone leptin – loại
        hormone điều khiển quá trình trao đổi chất trong cơ thể bị hạ thấp xuống. Và
        sau đó cơ thể sẽ nhận ra nó đang bị “bỏ đói” và nó sẽ tự rơi vào trạng thái
        ngủ đông, gây chậm trao đổi chất, ngừng đốt mỡ.</p>
        <p>Như vậy, để giải quyết vấn đề này chúng ta cần xen kẽ giữa ngày low carb
        và ngày high carb 1 cách hợp lý. Tức sau khoảng 2, 3 ngày low carb khi cơ
        thể đã chớm vào ngưỡng nhận ra chúng ta đang ăn kiêng, thì ngay lập tức
        chúng ta phải shock lại toàn bộ quá trình trao đổi chất bằng 1 ngày high carb.
        Bởi nguồn năng lượng từ Carb luôn mạnh mẽ, mãnh liệt và có tác dụng
        nhanh đối với quá trính trao đổi chất bên trong cơ thể.</p>
        <p>Ngày High Carb này sẽ giúp đánh lừa cơ thể làm cho nó thấy rằng, chúng
        ta không bị đói, không thiếu thức ăn, để cơ thể không tự chuyển sang trạng
        thái “ngủ đông”. Sau ngày High Carb cơ thể được cung cấp năng lượng tràn
        trề từ Carb, sau đó chúng ta lại theo Low Carb để đưa cơ thể vào trạng thái
        ketosis bằng cách cắt giảm Carb. Khiến cho cơ thể lúc đó phải lôi mỡ thừa
        trong người để sử dụng.</p>
        <p>Cứ lặp lại tiến trình Low Carb rồi High Carb như thế là chìa khóa giúp
        chúng ta giảm mỡ nhanh và hiệu quả hơn là ăn theo low carb liền một mạch
        dài ngày. </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong6"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong8"></a>
        </div>
    </ion-content>
</ion-view>
