<ion-view view-title="eDAS - Chương 4">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Vấn đề dính Carb</h3>
        <p>Nếu là DASer thì hầu như bất cứ ai cũng rất băn khoăn khi hàng ngày cứ lo
        dính Carb trong nước tương, xì dầu, hay mayonaise, tương ớt thành phần có
        đường nọ kia. Thực ra để có 1 lời giải đáp chính xác cho câu hỏi này không
        dễ dàng, bởi hàm lượng Carb trong các loại nước chấm kia khác nhau nên
        rất khó có thể có một câu trả lời chính xác.</p>
        <p>Nhưng chúng ta có 1 nguyên tắc chung đó là: “Cố gắng để không bị dính là
        tốt nhất, còn nếu bị dính thì cũng đừng lo lắng, bởi việc dính đó cũng không
        ảnh hưởng quá nhiều tới quá trình ăn kiêng hàng ngày chúng ta”.</p>
        <p>Việc dính có an toàn hay không phụ thuộc vào hàm lượng Carb trong các
        loại thực phẩm, nước chấm. Ví dụ như các loại xí dầu, nước tương thì hàm
        lượng đường trong đó không cao. Chúng ta nếm thử thì thấy ngay nước
        tương, xì dầu không có ngọt lắm. Do đó khi ăn low carb chúng ta có thể dùng
        thêm các loại nước tương này cùng với các món như trứng ốp la chả hạn mà
        không phải băn khoăn gì vì có ăn với hàm lượng <b>ít cũng không sao</b>.</p>
        
        <img src="img/mam.jpg" alt="mam" />

        <p>Nhưng các loại tương ớt đóng chai thì rất ngọt vì hàm lượng đường trong
        đó rất cao ăn thấy rất ngọt do đó các DASer cần tránh các loại tương ớt này.
        Giải pháp thay thế đó là có thể tự làm tương ớt hay có thể đặt mua ở các
        DAS Shop cho an toàn.</p>
        <p>Tất nhiên chúng ta cũng không nên quá lo sợ, kiêng tuyệt đối vì nhiều khi
        như thế sẽ lảm ảnh hưởng tới việc áp dụng DAS vào cuộc sống. Ví dụ như
        lạc, hay vừng chả hạn, mặc dù đây là những thực phẩm đèn Vàng - Đỏ của
        DAS nhưng lại hoàn toàn có thể chấp nhận nếu như chúng ta chỉ ăn theo kiểu
        rắc 1 ít lên thôi, như là đi ăn thịt dê người ta rắc chút vừng lên cho thơm, hay
        ăn tiết canh có thêm tí lạc cho thơm. Khi ăn kiểu “hương hoa” như thế thì
        vừng, lạc không có nguy hiểm gì cho chế độ ăn kiêng của chúng ta cả.</p>
        <p> Hay chúng ta đi ăn ngoài hàng, nước dùng hay các món ăn nọ kia họ cho
        chút xíu đường, hay là vịt quay họ cho tí mật ong vào thành phần khi ướp thịt
        vịt v..v thì cũng không ảnh hưởng gì cả. Đối với những món ăn kiểu đó chúng
        không nên quá lo sợ và cực đoan. Chỉ cần nếm thấy nó không rõ hẳn vị ngọt
        ra là được. </p>

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong3"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong5"></a>
        </div>
    </ion-content>
</ion-view>
