<ion-view view-title="eDAS - Chương 5">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Vấn đề hoa quả và một số loại hạt, sữa</h3>
         <img src="img/hoaqua.jpg" alt="hoaqua" />
        <p>Trong DAS thì các loại hoa quả chua như mận, xoài chua, dâu tây, cóc
        xanh v..v bị xếp vào hạng đèn vàng. Các loại sữa, sữa chua bị xếp vào hạng
        đèn đỏ. Các loại hạt như hướng dương, lạc, hạt điều ( các loại hạt nhiều tinh
        bột ) cũng bị xếp vào đèn đỏ.</p>
        <p>Các loại thực phẩm kể trên DAS ko khuyến khích dùng bởi nếu ăn sẽ bị
        gây thèm Carb, tụt đường huyết  phá chế độ. Do đó DAS luôn khuyến khích
        các DASer không nên ăn các loại thực phẩm trên để giữ tính an toàn, và ổn
        định cho những ngày low carb. Bởi vì giờ đây chúng ta có cứ 2-3 ngày là
        được relax thoải mái rồi.</p>
        <p>Hơn nữa lại có nhiều DAS Shop với các món ăn, đồ uống thay thế như
        bánh mì hạt lanh, cupcake hạt lanh, hạnh nhân, cơm dừa, bột hoa quả KoolAid
        pha cùng với soda không đường thành nước hoa quả, các loại kem low
        carb, thạch rau câu low carb, rồi cocktail mojito low carb v….v. Ngoài ra
        chúng ta uống được sữa đậu nành 400ml/ngày, dùng heavy cream, whipping
        cream thay thế cho sữa bình thường ( 200ml/ngày là an toàn ). Cho nên trong
        2-3 ngày low carb nếu chúng ta thay thế bằng các đồ ăn thức uống low carb
        kể trên thì không có gì là quá khó khăn cả.</p>
        <p> Các loại hạt thì thay vì ăn hướng dương, hạt điều, hạt dẻ v..v ( các loại hạt
        nhiều Carb – Đèn Đỏ ) chúng ta có thể ăn hạt lanh, hạt macacmadia, hạt
        hạnh nhân v..v ( các loại hạt low carb, high fat, ít tác động tới đường huyết và
        không gây thèm ăn – Đèn Vàng ).</p>
        
        <p>Thế nhưng nếu như DASer nào vẫn thích ăn hoa quả chua, vẫn thích ăn
        sữa chua, vẫn thích uống sữa, thì cũng không sao cả. Nhưng cần phải điều
        độ với số lượng vừa phải ví dụ như khoảng 200 gr hoa quả chua/ngày, 100 gr
        lạc/ngày, 100ml sữa không đường/ngày. Nhưng nếu như bị thèm ăn, tụt
        đường huyết hoặc khó giảm mỡ thì phải dừng lại.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong4"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong6"></a>
        </div>
    </ion-content>
</ion-view>
