<ion-view view-title="eDAS - Chương 1">
	<ion-nav-buttons side="right" ng-show="false">
		<a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
		</a>
	</ion-nav-buttons>

  <ion-content class="padding">
	<h3>Lời nói đầu</h3>
	<p>Chế độ low carb của DAS hay eDAS trước đây đã rất thành công trong việc
giúp các DASer giảm mỡ nhanh trong 1 thời gian ngắn. Nhưng do cơ thể của
mỗi người khác nhau khiến cho quá trình trao đổi chất trong cơ thể cũng khác
nhau, làm cho người này giảm nhanh, người này giảm chậm hoặc là không
giảm.</p>
	<p>
		Hiện tượng “đứng yên” này chúng ta hay bị gặp phải sau khi đã low carb
	trong 1 thời gian dài làm cho cơ thể tự rơi vào trạng thái bảo vệ  quá trình
	trao đổi chất chậm lại, mỡ không được đốt nữa.
	</p>
	<p>Và để giải quyết tình trạng này eDAS 2 ra đời để giúp những ai đang mắc
	phải tình trạng “đứng yên” kể trên.</p>
	<p>eDAS 2 được xây dựng trên nguyên lí “Carb Rotation – Xoay vòng Carb”,
	tức cứ 2-3 ngày Low Carb sẽ xen kẽ 1 ngày High Carb sau đó cứ thế lặp lại
	chu kì nên gọi là “xoay vòng”.</p>
	<p>Đây là biện pháp giảm mỡ nhanh hữu hiệu, phá vỡ trạng thái “đứng yên”
	của cơ thể được sử dụng rộng rãi trong giới vận động viên fitness, người mẫu
	khi họ cần phải loại bỏ nhanh những gram mỡ thừa cuối cùng trong người để
	có một vóc dáng đẹp hoàn hảo nhất khi lên sân khấu trình diễn và thi đấu.</p>
	<p>Dựa theo những kiến thức hiện đại, tiên tiến nhất về dinh dưỡng, thể hình,
	fitness trên thế giới, sau 1 thời gian nghiên cứu tác giả biên soạn tài liệu
	eDAS 2 này nhắm giúp các DASer đạt được ước vọng bấy lâu nay của mình
	đó là: “Ăn thoải mái, không cần tập thể dục, nằm ngủ mà dáng ngày càng
	đẹp, eo ngày càng thon”.</p>
	<h4>Cách đọc tài liệu:</h4>
	<p>Đầu tiên DASer nên đọc qua phần 2 và 3 thật kĩ để nắm rõ nguyên tắc đèn
	giao thông, cách phân loại thức ăn, hướng dẫn chế độ ăn. Ngay sau khi đọc
	xong 2 phần này DASer đã có thể tự thiết kế được lịch ăn cho mình rồi.
	Sau đó khi có thời gian, DASer lại tiếp tục đọc phần 4, 5, 6 để giải đáp các
	câu hỏi, thắc mắc bên lề gặp hàng ngày ví dụ như: “ Ra đường ăn lỡ dính tí
	Carb thì sao ? “. Phần 7, 8 là để giải thích nguyên lí của eDAS 2 trên khía
	cạnh khoa học dành cho những ai muốn hiểu rõ hơn. </p>

	
	<div class="button-bar">
		<a class="button disable icon ion-chevron-left"></a>
		<a class="button" href="#/app/elists">DS chương</a>
		<a class="button icon ion-chevron-right" detect-gestures gesture-type="swiperight" href="#/app/echuong2"></a>
	</div>
  </ion-content>
</ion-view>
