<ion-view view-title="eDAS - Chương 6">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Thay đổi linh hoạt nguyên tắc “Xoay vòng Carb”</h3>
        <p>Như đã nói ở trên, eDAS 2 được xây dựng trên nguyên tắc “Xoay vòng
        Carb” bằng việc xen kẽ giữa 2-3 ngày Low Carb với 1 ngày High Carb. Chế
        độ được DAS đề ra đó là 3-1-2-1, chế độ này được tính toán để phù hợp với
        1 tuần làm việc thông thường của mọi người.</p>
        <p>
            Nếu như chúng ta bắt đầu từ thứ hai đầu tuần thì sẽ có lịch như sau:
        Từ Thứ Hai -> Thứ Tư: Low Carb, sau đó Thứ Năm: High Carb - Relax, rồi
        Thứ Sáu -> Thứ Bảy: Low Carb và kết thúc chu trình bằng ngày Chủ Nhật:
        High Carb - Relax.

        </p>
        <p>Ở các tuần tiếp theo, bạn tiếp tục xoay vòng chu kì trên. Nhưng vì lí do nào
        đó mà sang tuần thứ 2, bạn bận hay phải relax trước vì kế hoạch nào đó, ví
        dụ vào Thứ Tư chả hạn thì lúc đó chúng sẽ thành 2-1-3-1 cũng không sao cả.
        Tóm lại chúng ta có thể theo 2-1-3-1, hoặc 2-1-2-1, hoặc 3-1-3-1. Nói tóm
        lại chỉ cần nhớ nguyên tắc chung đó là: Sau 2-3 ngày Low Carb thì phải High
        Carb một ngày, và không nên relax liên tục quá 2 ngày, bởi đối với ai bị nhạy
        Carb thì relax quá 2 ngày có khả năng bị tăng mỡ.</p>
        <p>Và từ sự thay đổi linh hoạt này chúng ta có thể tự áp dụng sao cho phù
        hợp với lịch làm việc và cuộc sống hàng ngày. </p>
                

        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong5"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong7"></a>
        </div>
    </ion-content>
</ion-view>
