<ion-view view-title="eDAS - Chương 8">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Chế độ eDAS 2 dành cho những ai ?</h3>
        <img src="img/dr.jpg" alt="dr" />
        <p>Tất cả những người sức khỏe bình thường, hay những người bị các bệnh
        không liên quan tới đường huyết, huyết áp ví dụ như bệnh mỡ máu, mỡ nội
        tạng hoàn toàn có thể theo eDAS 2.</p>
        <p>Còn những bệnh như gout thì người bệnh nên theo chế độ DAS truyền
        thống tức 12 ngày low carb rồi relax 2 ngày sau đó theo 6-1, hoặc 5-2. Đợi
        bao giờ cơ thể ổn định, không còn bị đau nữa lúc đó mới có thể chuyển sang
        eDAS 2.</p>
        <p>Những người bị bệnh tiểu đường, huyết áp cũng không nên ngay lập tức
        theo eDAS 2 mà nên theo DAS chỉ ăn đèn xanh, hạn chế đèn vàng, kiêng đèn
        đỏ, tạm thời không relax vội. Đợi bao giờ đường huyết trong cơ thể ổn định,
        lúc đó hãy theo chế độ 6-1 rồi 5-2 của DAS. Sau khi ổn định 1 thời gian
        khoảng 1-2 tuần thì lúc đó mới nên theo chế độ eDAS 2.</p>
        <p>Những ai bị ung thư muốn dùng biện pháp Low Carb để điều trị thì cũng
        không nên relax vội mà cứ ăn theo DAS triệt Đèn Xanh đển bao giờ khối u
        giảm, lúc đó hãy relax theo chế độ 6-1. Còn bao giờ khối u teo hẳn, không có
        dấu hiệu tái phát lúc đó mới tính sau. </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong7"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong9"></a>
        </div>
    </ion-content>
</ion-view>
