<ion-view view-title="eDAS - Chương 9">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h3>Phụ lục: Huớng dẫn sử dụng rượu bia khi DAS ( The DAS guide to alcoholic beverages )</h3>
        <img src="img/ruou.jpg" alt="ruou" />
        <p>Các loại rượu bia được phân theo 3 dạng chủ yếu sau:</p>
        <h4> A. Rượu sản xuất bằng phương pháp chưng cất ( No Carb ):</h4>
        <p>Phương pháp chưng cất tức là sau khi được lên men bằng nguyên liệu
        High Carb thì được đun lên, bốc hơi => thành phẩm. Do đó các loại rượu này
        không có Carbonhydrate. Ví dụ: Vodka, Rum, Brandy ( Cognac ), Whiskey,
        Gin, Tequilla, Rượu Quốc Lủi, Rượu Gạo VN… là các loại rượu được chưng
        cất.</p>
        <h4>B. Rượu, bia sản xuất bằng phương pháp lên men ( High Carb ):</h4>
        <p> Phương pháp lên men tức là sau khi ủ men thì được lọc qua chứ không
        chưng cất bay hơi. Do đó trong dung dịch rượu, bia sẽ chứa nhiều Carb từ
        các nguyên liệu High Carb còn sót lại sau khi ủ men. Ví dụ: bia, rượu vang (
        wine ), rượu táo (cider), rượu nếp cẩm Vn, rượu sake... là các loại đồ uống có
        cồn được lên men từ yến mạch, gạo, nho, hoa quả.</p>
        <p>Không có số liệu chính xác cho hàm lượng Carb của các loại đồ uống có
        cồn nhưng nói chung để an toàn thì chúng ta nên tránh. Ví dụ trung bình 100
        gram bia có 15 gram Carb. Khi đi ăn, chúng ta có thể ăn các loại cá hấp bia,
        tôm hấp bia… vì hàm lượng Carb trong bia không nhiều như rượu vang, hơn
        nữa do hấp nên hầu như thức ăn không bị dính Carb từ bia.</p> 
        <h4>C. Các loại rượu hoa quả pha chế:</h4>
        <p>Các loại rượu Champagne có pha thêm đường hay rượu anh đào có pha
        thêm Siro hoa quả… cực kì High Carb. Do đó cần kiêng tuyệt đối.</p>
        <p> Kết luận: DAS không khuyến khích việc sử dụng rượu bia thường xuyên vì
        nó có hại cho sức khỏe. Bài hướng dẫn này được viết chỉvới mục đích giúp
        các DASer có thể chọn được các loại rượu thích hợp trong lúc đi tiếp khách,
        vui vẻ với bạn bè cần phải uống mà không sợ vi phạm chế độ. Ngoài ra
        những ai có sở thích uống cocktail thì cũng nên đọc kĩ hướng dẫn này để
        chọn loại rượu phù hợp nhằm tạo ra các loại cocktail low carb giải khát mát
        mẻ.</p>
        <p>
            <b ng-click="isOpen = !isOpen"><a href="javascript: void(0)" class="link-ex">Tài liệu tham khảo:</a></b>
            <ul ng-show="isOpen" class="das-list">
                <li> 1. Crack the Fat-Loss Code: Outsmart Your Metabolism and Conquer the Diet
        Plateau - Wendy Chant.</li>
                <li> 2. Conquer the Fat-Loss Code (Includes: Complete Success Planner, All-New
        Delicious Recipes, and the Secret to Exercising Less for Better Results!) -
        Wendy Chant.</li>
                <li>3. The Carb Cycling Diet: Balancing Hi Carb, Low Carb, and No Carb Days for
        Healthy Weight Loss - Dr. Roman Malkov.</li>
                <li>4. Choose to Lose: The 7-Day Carb Cycle Solution - Chris Powell.</li>
                <li>5. The Alternate-Day Diet: Turn on Your "Skinny Gene," Shed the Pounds,
        and Live a Longer and HealthierLife - James B. Johnson MD.</li>
            </ul>
        </p> 
        
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/echuong8"></a>
            <a class="button" href="#/app/elists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/echuong10"></a>
        </div>
    </ion-content>
</ion-view>
