/* Empty. Add your own CSS if you like */
.poem {
	font-style: italic;
	border-left: 1px solid #B5B0B0;
	padding-left: 8px;
	margin: 20px auto;
}
.note {
	font-style: italic;
	border-top: 1px solid #B5B0B0;
	padding: 10px 0;
}
.button.disable {
	cursor: not-allowed;
	opacity: 0.5;
}
img {
	max-width: 100%;
	margin: 20px auto;
	display: block;
}
i {
	font-style: italic;
}
ul.das-list li{
	margin: 10px 0;
}
.ita {
	font-style: italic;
	text-decoration: underline;
}
.bolta {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
.boline {
	font-weight: bold;
	text-decoration: underline;
}
.fwb {
	font-weight: bold;
}
.chap-listing ion-item.item.item-complex:nth-last-child(-n+3) {
    padding-left: 20px;
}